{#
  Variables
    - onclick
#}
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary btn-apply-builder">
            {{ 'mautic.core.form.apply'|trans }}
        </button>
        <button type="button" class="btn btn-primary btn-close-builder" onclick="{{ onclick|raw }}">
            {{ 'mautic.core.close.builder'|trans }}
        </button>
    </div>
    {#
    <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-default btn-undo btn-nospin" data-toggle="tooltip" data-placement="left" title="{{ 'mautic.core.undo'|trans }}">
            <span><i class="fa fa-undo"></i></span>
        </button>
        <button type="button" class="btn btn-default btn-redo btn-nospin" data-toggle="tooltip" data-placement="left" title="{{ 'mautic.core.redo'|trans }}">
            <span><i class="fa fa-repeat"></i></span>
        </button>
    </div>
    #}
</div>
<div class="row">
    <div class="col-xs-12 mt-15">
        <div id="builder-errors" class="alert alert-danger" role="alert" style="display: none;"></div>
    </div>
</div>
