<mjml>
  <mj-head>
	<mj-attributes>
	  <mj-all margin="0">
	  </mj-all>
	</mj-attributes>
	<!-- CSS-STYLE -->
	<mj-style inline="inline"> p, li {margin:0 !important; padding:0; line-height:1.4em;}
	</mj-style>
  </mj-head>
  <!-- BODY -->
  <mj-body background-color="#f4f4f4">
	<mj-section padding-top="40px" background-color="#ffffff">
	  <mj-column>
		<mj-text font-size="11px" align="center">
		  <p>
			<span data-fr-verified="true"><span data-fr-verified="true" class="atwho-inserted">{webview_text}</span>⁠⁠⁠⁠⁠⁠⁠</span>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-logo.png', null, null, true) }}" width="70px" padding-bottom="0px" padding-top="0px">
		</mj-image>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff">
	  <mj-column width="550px">
		<mj-text font-size="16px" align="center" font-style="italic" color="#525252">
		  <p>Ok, let's make an announcement
		  </p>
		</mj-text>
		<mj-spacer height="40px">
		</mj-spacer>
		<mj-text font-size="24px" align="center" font-weight="700">
		  <p>Start customizing your email
		  </p>
		</mj-text>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff" padding-top="0px">
	  <mj-column padding-top="0px">
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}" padding-right="0px" padding-left="0px" padding-bottom="0px" padding-top="0px">
		</mj-image>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff" padding-top="0px">
	  <mj-column padding-top="0px">
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}" padding-top="0px">
		</mj-image>
	  </mj-column>
	  <mj-column padding-top="0px">
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}" padding-top="0px">
		</mj-image>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff">
	  <mj-column width="550px">
		<mj-text font-size="16px" align="center">
		  <p>Make your announcements pop with an eye-catching visual, then provide the crucial details for engagement.
		  </p>
		  <p>⁠⁠⁠⁠⁠⁠⁠
			<br/>Customize this section by inserting your own images or choosing a striking solid color backdrop.
		  </p>
		</mj-text>
		<mj-spacer height="30px">
		</mj-spacer>
		<mj-divider border-width="2px" border-color="#d0d0d0">
		</mj-divider>
		<mj-spacer height="30px">
		</mj-spacer>
		<mj-text font-size="22px" font-weight="700">
		  <p>Lead with an eye-catching title
		  </p>
		</mj-text>
		<mj-text font-size="16px">
		  <p>Present your news in a brief paragraph. For crucial points, use a bulleted list:
		  </p>
		  <ul>
			<li>
			  <span class="ck-list-bogus-paragraph"><span class="ck-list-bogus-paragraph">What's on offer</span></span>
			</li>
			<li>
			  <span class="ck-list-bogus-paragraph"><span class="ck-list-bogus-paragraph">Where to find us</span></span>
			</li>
			<li>
			  <span class="ck-list-bogus-paragraph"><span class="ck-list-bogus-paragraph">Timing specifics</span></span>
			</li>
		  </ul>
		  <p>Be concise to motivate readers to explore your website for the full story.
		  </p>
		</mj-text>
		<mj-button href="https://" background-color="#000000" inner-padding="16px 32px" border-radius="0px 0px 0px 0px" font-size="16px" align="left">Button
		</mj-button>
		<mj-spacer align="center">
		</mj-spacer>
	  </mj-column>
	</mj-section>
	<mj-section padding-top="0" padding-bottom="20px" background-color="#000000">
	  <mj-column>
		<mj-spacer height="40px">
		</mj-spacer>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-logo-inverse.png', null, null, true) }}" width="70px" padding-bottom="0px">
		</mj-image>
		<mj-spacer>
		</mj-spacer>
		<mj-text font-family="Ubuntu, Helvetica, Arial, sans-serif" line-height="1.5" align="center" padding-top="0px" padding-bottom="0px" font-size="12px" color="white">
		  <p>Amazing Company
			<br/>11111 Beautiful City, 1212 Nice Street
			<br/>Brazil
			<br/>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
		<mj-text font-size="11px" align="center" color="#a1a1a1">
		  <p>Fancy seeing you down here. You’re getting this email because you gave us your email address.
		  </p>
		  <p>Want to change how you receive these emails?
		  </p>
		</mj-text>
		<mj-text font-size="11px" align="center" color="#a1a1a1">
		  <p>
			<span data-fr-verified="true"><span data-fr-verified="true" class="atwho-inserted">{unsubscribe_text}</span>⁠⁠⁠⁠⁠⁠⁠</span>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
	  </mj-column>
	</mj-section>
  </mj-body>
</mjml>