<!-- Token placeholders modal -->
<div class="modal fade" id="tokenPlaceholdersModal" tabindex="-1" role="dialog" aria-labelledby="tokenPlaceholdersLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'mautic.core.close' | trans }}">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="modal-title" id="tokenPlaceholdersLabel">
          {{ "mautic.placeholder_tokens.placeholder_tokens" | trans }}
        </p>
      </div>
      <div class="modal-body">
        <div class="pa-md">
          <h3 class="fw-sb mb-sm">{{ 'mautic.placeholder_tokens.introducing_tokens.title'|trans }}</h3>
          <p>{{ 'mautic.placeholder_tokens.introducing_tokens.description'|trans }}</p>
        </div>

        <div class="alert alert-info">
          <span>{{ 'mautic.placeholder_tokens.fallback_text_info'|trans|raw }}</span>
        </div>

        <ul id="accordion" class="accordion">
          {{ include ('@MauticLead/Tokens/token_placeholders.html.twig', ignore_missing="true") }}

          <!-- Mautic Component tokens -->
          <li class="panel">
            <a role="button" id="headingComponentTokens" class="accordion-heading collapsed" data-toggle="collapse"
              data-parent="#accordion" href="#collapseComponentTokens" aria-expanded="false"
              aria-controls="collapseComponentTokens">
              <i class="ri-arrow-down-s-line accordion-arrow"></i>
              <span class="accordion-title">{{ 'mautic.placeholder_tokens.component_tokens'|trans }}</span>
            </a>
            <div id="collapseComponentTokens" class="collapse accordion-wrapper" role="tabpanel"
              aria-labelledby="headingComponentTokens">

              <table class="table table-hover accordion-content">
                <thead>
                  <tr>
                    <th>{{ 'mautic.placeholder_tokens.variable_name'|trans }}</th>
                    <th>{{ 'mautic.placeholder_tokens.variable_syntax'|trans }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ 'mautic.placeholder_tokens.component.asset_link'|trans }}</td>
                    <td><code>{assetlink=25}</code></td>
                  </tr>
                  <tr>
                    <td>{{ 'mautic.placeholder_tokens.component.focus_item'|trans }}</td>
                    <td><code>{focus=4}</code></td>
                  </tr>
                  <tr>
                    <td>{{ 'mautic.placeholder_tokens.component.form'|trans }}</td>
                    <td><code>{form=83}</code></td>
                  </tr>
                  <tr>
                    <td>{{ 'mautic.placeholder_tokens.component.landing_page_link'|trans }}</td>
                    <td><code>{pagelink=17}</code></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>

          {{ include ('@MauticEmail/Tokens/token_placeholders.html.twig', ignore_missing="true") }}
          {{ include ('@MauticPage/Tokens/token_placeholders.html.twig', ignore_missing="true") }}
          {{ include ('@MauticDynamicContent/Tokens/token_placeholders.html.twig', ignore_missing="true") }}
          {{ include ('@MauticSocial/Tokens/token_placeholders.html.twig', ignore_missing="true") }}

        </ul>
      </div>
    </div>
  </div>
</div>