{% extends '@MauticUser/Security/base.html.twig' %}
{% block headerTitle %}{{ 'mautic.api.oauth.header'|trans }}{% endblock %}
{% block content %}
<form class="form-group login-form" name="login" data-toggle="ajax" role="form" action="{{ path(route) }}" method="post">
    <div class="input-group mb-md">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <label for="username" class="sr-only">{{ 'mautic.user.auth.form.loginusername'|trans }}</label>
        <input type="text" id="username" name="_username" class="form-control input-lg" value="{{ last_username }}" required autofocus placeholder="{{ 'mautic.user.auth.form.loginusername'|trans }}" />
    </div>
    <div class="input-group mb-md">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <label for="password" class="sr-only">{{ 'mautic.core.password'|trans }}:</label>
        <input type="password" id="password" name="_password" class="form-control input-lg" required placeholder="{{ 'mautic.core.password'|trans }}" />
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'mautic.user.auth.form.loginbtn'|trans }}</button>
</form>
{% endblock %}
