{#
  Variables
    - items
#}
{% if items|length > 0 %}
  <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered" id="importTable">
          <thead>
              <tr>
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'sessionVar': sessionVar,
                      'orderBy': tablePrefix~'.status',
                      'text': 'mautic.lead.import.status',
                      'class': 'col-status',
                  }) }}
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'sessionVar': sessionVar,
                      'orderBy': tablePrefix~'.originalFile',
                      'text': 'mautic.lead.import.source.file',
                      'class': 'col-original-file',
                  }) }}
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'text': 'mautic.lead.import.runtime',
                      'class': 'col-runtime',
                  }) }}
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'text': 'mautic.lead.import.progress',
                      'class': 'col-progress',
                  }) }}
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'sessionVar': sessionVar,
                      'orderBy': tablePrefix~'.lineCount',
                      'text': 'mautic.lead.import.line.count',
                      'class': 'col-line-count',
                  }) }}
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'sessionVar': sessionVar,
                      'orderBy': tablePrefix~'.insertedCount',
                      'text': 'mautic.lead.import.inserted.count',
                      'class': 'col-inserted-count',
                  }) }}
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'sessionVar': sessionVar,
                      'orderBy': tablePrefix~'.updatedCount',
                      'text': 'mautic.lead.import.updated.count',
                      'class': 'col-updated-count',
                  }) }}
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'sessionVar': sessionVar,
                      'orderBy': tablePrefix~'.ignoredCount',
                      'text': 'mautic.lead.import.ignored.count',
                      'class': 'col-ignored-count',
                  }) }}
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'sessionVar': sessionVar,
                      'orderBy': tablePrefix~'.createdByUser',
                      'text': 'mautic.core.create.by.past.tense',
                      'class': 'col-created visible-md visible-lg',
                  }) }}
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'sessionVar': sessionVar,
                      'orderBy': tablePrefix~'.dateAdded',
                      'text': 'mautic.core.date.added',
                      'class': 'col-date-added visible-md visible-lg',
                      'default': true,
                  }) }}
                  {{ include('@MauticCore/Helper/tableheader.html.twig', {
                      'sessionVar': sessionVar,
                      'orderBy': tablePrefix~'.id',
                      'text': 'mautic.core.id',
                      'class': 'col-lead-id visible-md visible-lg',
                  }) }}
              </tr>
          </thead>
          <tbody>
            {% for item in items %}
              {{ include('@MauticLead/Import/_list_row.html.twig', {
                  'item': item,
                  'permissions': permissions,
                  'indexRoute': indexRoute,
                  'permissionBase': permissionBase,
                  'translationBase': translationBase,
                  'actionRoute': actionRoute,
              }) }}
            {% endfor %}
          </tbody>
      </table>
  </div>
  <div class="panel-footer">
      {{ include('@MauticCore/Helper/pagination.html.twig', {
          'totalItems': totalItems,
          'page': page,
          'limit': limit,
          'menuLinkId': indexRoute,
          'baseUrl': path(indexRoute, {'object': app.request.get('object', 'contacts')}),
          'sessionVar': sessionVar,
      }) }}
  </div>
{% else %}
  {{ include('@MauticCore/Helper/noresults.html.twig') }}
{% endif %}
