{#
  Variables
    - form
#}
{% set uploadMaxFilesize = ini_get('upload_max_filesize')|replace({'M': ''}) %}
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="pt-40">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="mt-lg">Choose your file</h2>
                    <div class="muted">{{ 'mautic.lead.import.start.instructions.upload_size'|trans({'%size%': uploadMaxFilesize}) }}</div>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="small muted"> {{ 'mautic.lead.import.start.instructions.format'|trans }}: CSV</div>
                    <div class="input-group well mt-xs">
                        {{ form_widget(form.file, {'label': 'mautic.lead.import.csv.parser.config'}) }}

                        <span class="input-group-btn">
                            {{ form_widget(form.start) }}
                        </span>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">
                            {{ form_row(form.batchlimit) }}
                        </div>

                        <div class="col-xs-3">
                            {{ form_row(form.delimiter) }}
                        </div>

                        <div class="col-xs-3">
                            {{ form_row(form.enclosure) }}
                        </div>

                        <div class="col-xs-3">
                            {{ form_row(form.escape) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <div class="tile mt-lg">
                        <div class="row gap-sm fw-nowrap-md">
                            <div class="col-md-6 gap-xs">
                                <h5 class="fw-b"> {{'mautic.lead.import.start.instructions.sample'|trans }}</h5>
                                <span> {{ 'mautic.lead.import.start.instructions.sample.description'|trans }}</span>
                            </div>
                            <div class="col-md-6 ai-end jc-center">
                                <a class="btn btn-tertiary btn-small" href="/app/bundles/LeadBundle/Assets/contacts_sample.csv" download>{{ 'mautic.core.download'|trans }} <i class="ri-download-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
