{#
Variables
- progress
- import
- complete
- failedRows
- objectName
- indexRoute
- indexRouteParams
- step
- currentRoute
#}
{% extends '@MauticCore/Default/content.html.twig' %}

{% block mauticContent %}leadImport{% endblock %}

{% block headerTitle %}
{{ 'mautic.lead.import.leads'|trans({'%object%': objectName|trans}) }}
{% endblock %}

{% block content %}
{% set object = app.request.get('object', 'contacts') %}
{% set objectName = objectName|trans %}
{% set percent = progress.toPercent %}
{% set id = complete ? 'leadImportProgressComplete' : 'leadImportProgress' %}
{% set header = complete ? 'mautic.lead.import.success' : 'mautic.lead.import.donotleave' %}

<div class="row ma-lg" id="{{ id }}">
    <div class="col-sm-offset-3 col-sm-6 text-center">
        <div class="panel">
            <div class="panel-heading mt-sm">
                <div class="progress mt-lg" style="height:4px;">
                    <div class="progress-bar-import progress-bar {% if not complete %}active{% endif %} bg-{% if complete %}success{% endif %}"
                        role="progressbar" aria-valuenow="{{ progress.done }}" aria-valuemin="0"
                        aria-valuemax="{{ progress.total }}" style="width: {{ percent }}%; height: 4px;"><span
                            class="sr-only">{{ percent }}%</span>
                    </div>
                </div>
                <div class="row mb-lg">
                    {% if not complete %}
                    <div class="col-md-12 ai-start">
                        <h2 class="pb-xs text-left">{{ header|trans({'object': object}) }}</h2>
                        <div class="row-no-gutters">
                            <span class="muted">{{ 'mautic.lead.import.inprogress'|trans }}</span>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-8 ai-start">
                        <h2 class="pb-xs text-left">{{ header|trans({'object': object}) }}</h2>
                        <div class="row-no-gutters">
                            <span class="muted">{{ 'mautic.lead.leads'|trans }} • {{ 'mautic.core.now'|trans }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 ai-end jc-center">
                        <a class="btn btn-tertiary btn-small"
                            href=" {{ path('mautic_import_action', {'object': 'contacts', 'objectAction': 'new'}) }}">Import
                            again <i class="ri-import-line"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">
                {% if complete %}
                <div class="row-no-gutters">
                    <div class="col-md-6 mb-lg">
                        <div class="tile jc-space-between">
                            <div class="row-no-gutters fw-nowrap gap-xs ai-center">
                                <i class="ri-file-list-line ri-lg"></i>
                                <h5>{{ import.name() }} <span class="small total-count">({{ progress.total }})</span>
                                </h5>
                            </div>
                            <i class="ri-check-line text-success"></i>
                        </div>
                    </div>
                </div>
                <h4 class="mb-md text-left fw-sb">{{ 'mautic.lead.segments.contacts.imported_database'|trans }}</h4>
                <div class="row-no-gutters jc-space-between ai-center mb-sm">
                    <span class="d-flex gap-xs"><i class="ri-user-add-line ri-lg"></i>{{'mautic.lead.import.stats.created'|trans}}</span>
                    <span class="fw-b">{{ import.insertedCount }}</span>
                </div>
                <div class="row-no-gutters jc-space-between ai-center mb-sm">
                    <span class="d-flex gap-xs"><i class="ri-exchange-2-line ri-lg"></i>{{'mautic.lead.import.stats.merged'|trans}}</span>
                    <span class="fw-b">{{ import.updatedCount }}</span>
                </div>
                <div class="row-no-gutters jc-space-between ai-center mb-sm">
                    <span class="d-flex gap-xs"><i class="ri-user-follow-line ri-lg"></i>{{'mautic.lead.import.stats.ignored'|trans}}</span>
                    <span class="fw-b">{{ import.ignoredCount }}</span>
                </div>
                <hr>
                <div class="row-no-gutters jc-space-between fw-sb">
                    <span>{{ 'mautic.lead.segments.contacts.total'|trans }}</span>
                    <span class="imported-count">{{ progress.done }}</span>
                </div>
                {% endif %}
            </div>
            {% if failedRows is not empty %}
            <ul class="list-group mb-lg mt-lg">
                {% for row in failedRows %}
                {% set lineNumber = row.properties.line|default('N/A') %}
                {% set failure = row.properties.error|default('N/A') %}
                <div class="alert alert-danger text-left">
                    <a target="_new" class="text-danger">(#{{ lineNumber }}) {{ failure }}</a>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="panel-footer">
                {% if not complete %}
                <a class="btn btn-danger"
                    href="{{ path('mautic_import_action', {'objectAction': 'cancel', 'object': object}) }}"
                    data-toggle="ajax">
                    {{ 'mautic.core.form.cancel'|trans }}
                </a>
                <a class="btn btn-primary"
                    href="{{ path('mautic_import_action', {'objectAction': 'queue', 'object': object}) }}"
                    data-toggle="ajax">
                    {{ 'mautic.lead.import.queue.btn'|trans }}
                </a>
                {% else %}
                {% set indexRouteParams = indexRouteParams|merge({
                'search': 'mautic.lead.lead.searchcommand.import_id'|trans ~ ':' ~ import.id
                }) %}
                <a class="btn btn-ghost"
                    href="{{ path('mautic_import_action', {'objectAction': 'view', 'objectId': import.id, 'object': object}) }}"
                    data-toggle="ajax">
                    <i class="ri-file-info-line"></i>
                    {{ 'mautic.lead.import.result.info'|trans }}
                </a>
                <a class="btn btn-ghost" href="{{ path('mautic_import_index', {'object': object}) }}"
                    data-toggle="ajax">
                    <i class="ri-list-view"></i>
                    {{ 'mautic.lead.view.imports'|trans }}
                </a>
                <a class="btn btn-primary" href="{{ path(indexRoute, indexRouteParams) }}" data-toggle="ajax">
                    <i class="ri-contacts-line"></i>
                    {{ 'mautic.lead.list.view'|trans({'%objects%': objectName}) }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}