{#
  Variables
    - dnc (bool)
    - form
#}
{% if dnc and constant('\\Mautic\\LeadBundle\\Entity\\DoNotContact::BOUNCED') == dnc.reason %}
    <div class="alert alert-warning">{{ 'mautic.lead.do.not.contact_bounced'|trans }}: {{ dnc.comments }}</div>
{% else %}
    {{ form_start(form) }}
    {{ form_row(form['fromname']) }}
    {{ form_row(form['from']) }}
    {{ form_row(form['replyToAddress']) }}
    {{ form_row(form['subject']) }}
    {{ form_row(form['body']) }}
    {{ form_row(form['templates']) }}
    {{ form_end(form) }}
{% endif %}
