
{% if showMore is defined and showMore is not empty %}
    <a href="{{ url('mautic_role_index', {'filter-user' : searchString}) }}" data-toggle="ajax">
        <span>{{ 'mautic.core.search.more'|trans({'%count%' : remaining}) }}</span>
    </a>
{% else %}
    {% if canEdit %}
    <a href="{{ url('mautic_role_action', {'objectAction' : 'edit', 'objectId' : role.getId()}) }}" data-toggle="ajax">
        {{ role.getName(true) }}
    </a>
    {% else %}
        {{ role.getName(true) }}
    {% endif %}
{% endif %}