{% set headerTitle = 'Install' %}

<!DOCTYPE html>
<html lang="en">
    {% do addAssetScript('app/bundles/InstallBundle/Assets/install/install.js') %}
    {{- include('@MauticCore/Default/head.html.twig') -}}
    <body>
        <!-- start: app-wrapper -->
        <section id="app-wrapper">
            <div class="container">
                <div class="row mt-20">
                    <div class="text-center">
                        <img src="{{ getOverridableUrl('images/mautic_logo_lb200.png') }}" height="50px" alt="Mautic" />
                        <h5 class="semibold text-muted mt-5">{{ slot('header', '') }}</h5>
                    </div>

                    <div class="mt-20 col-lg-6 col-lg-offset-3">
                        <div id="app-content" class="panel panel-default">
                            {{- include('@MauticCore/Notification/flashes.html.twig') -}}
                            {{ block('content') }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ end: app-content -->
    </body>
</html>
