{#
    @copyright   2014 Mautic Contributors. All rights reserved
    @author      Mautic
    @link        http://mautic.org
    @license     GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
#}

{% if 'index' == tmpl %}
    {% extends '@MauticInstall/Install/content.html.twig' %}
{% endif %}

{% block content %}
<div class="panel-heading">
    <h2 class="panel-title">
        {{ 'mautic.install.heading.user.configuration'|trans }}
    </h2>
</div>
<div class="panel-body">
    {{ form_start(form) }}
    <div class="alert alert-mautic">
        {% trans %}mautic.install.user.introtext{% endtrans %}
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.username) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.password) }}
        </div>
    </div>

    <hr class="text-muted" />

    <div class="row mt-lg">
        <div class="col-sm-6">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.lastname) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.email) }}
        </div>
    </div>

    <div class="row mt-20">
        <div class="col-sm-9">
            {{- include('@MauticInstall/Install/navbar.html.twig', {'step' : index, 'count' : count, 'completedSteps' : completedSteps}) -}}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.buttons) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}