{#
  Variables
    - event
    - campaignId
#}
<div class="hide" id="CampaignEventPanel">
    <div id="CampaignEventPanelGroups">
        <div class="row">
            <div class="mr-0 ml-0 pl-xs pr-xs campaign-group-container col-md-4" id="DecisionGroupSelector">
                <div class="panel panel-success mb-0">
                    <div class="panel-heading">
                        <div class="col-xs-8 col-sm-10 np">
                            <h3 class="panel-title">{{ 'mautic.campaign.event.decision.header'|trans }}</h3>
                        </div>
                        <div class="col-xs-4 col-sm-2 pl-0 pr-0 pt-10 pb-10 text-right">
                            <i class="hidden-xs fa fa-random fa-lg"></i>
                            <button class="visible-xs pull-right btn btn-sm btn-default btn-nospin text-success" data-type="Decision">
                                {{ 'mautic.core.select'|trans }}
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ 'mautic.campaign.event.decision.descr'|trans }}
                    </div>
                    <div class="hidden-xs panel-footer text-center">
                        <button class="btn btn-lg btn-default btn-nospin text-success" data-type="Decision">
                            {{ 'mautic.core.select'|trans }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="mr-0 ml-0 pl-xs pr-xs campaign-group-container col-md-4 " id="ActionGroupSelector">
                <div class="panel panel-primary mb-0">
                    <div class="panel-heading">
                        <div class="col-xs-8 col-sm-10 np">
                            <h3 class="panel-title">{{ 'mautic.campaign.event.action.header'|trans }}</h3>
                        </div>
                        <div class="col-xs-4 col-sm-2 pl-0 pr-0 pt-10 pb-10 text-right">
                            <i class="hidden-xs fa fa-bullseye fa-lg"></i>
                            <button class="visible-xs pull-right btn btn-sm btn-default btn-nospin text-primary" data-type="Action">
                                {{ 'mautic.core.select'|trans }}
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ 'mautic.campaign.event.action.descr'|trans }}
                    </div>
                    <div class="hidden-xs panel-footer text-center">
                        <button class="btn btn-lg btn-default btn-nospin text-primary" data-type="Action">
                            {{ 'mautic.core.select'|trans }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="mr-0 ml-0 pl-xs pr-xs campaign-group-container col-md-4" id="ConditionGroupSelector">
                <div class="panel panel-danger mb-0">
                    <div class="panel-heading">
                        <div class="col-xs-8 col-sm-10 np">
                            <h3 class="panel-title">{{ 'mautic.campaign.event.condition.header'|trans }}</h3>
                        </div>
                        <div class="col-xs-4 col-sm-2 pl-0 pr-0 pt-10 pb-10 text-right">
                            <i class="hidden-xs fa fa-filter fa-lg"></i>
                            <button class="visible-xs pull-right btn btn-sm btn-default btn-nospin text-danger" data-type="Condition">
                                {{ 'mautic.core.select'|trans }}
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">{{ 'mautic.campaign.event.condition.descr'|trans }}</div>
                    <div class="hidden-xs panel-footer text-center">
                        <button class="btn btn-lg btn-default btn-nospin text-danger" data-type="Condition">
                            {{ 'mautic.core.select'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="CampaignEventPanelLists" class="hide">
        {{- include('@MauticCampaign/Campaign/Builder/_source_list.html.twig', {
              'campaignSources': campaignSources,
              'campaignId': campaignId,
        }) -}}

        {{- include('@MauticCampaign/Campaign/Builder/_event_list.html.twig', {
              'eventSettings': eventSettings,
              'campaignId': campaignId,
        }) -}}
    </div>
</div>
<div class="clearfix"></div>
