{% extends "@MauticCore/FormTheme/form.html.twig" %}
{% set hasRightColumn = block('rightFormContent') is defined %}
{% block mainFormContent %}
    {{ form_start(form) }}
    <div class="box-layout">
        <div class="col-md-{{ hasRightColumn ? 9 : 12 }} height-auto">
            <div class="row">
                <div class="col-xs-12">
                    {{ form_errors(form) }}
                    {% block aboveTabsContent %}{% endblock %}
                    {{ customContent('tabs.above', _context) }}
                    {{- include('@MauticCore/Helper/tabs.html.twig', {'tabs' : formTabs }) -}}
                    <div class="pr-md pl-md">
                        {% if block('_content') is defined %}
                            {{ block('_content') }}
                        {% else %}
                            {{ form_rest(form) }}
                        {% endif %}
                    </div>
                    {% block belowTabsContent %}{% endblock %}
                    {{ customContent('tabs.below', _context) }}
                </div>
            </div>
        </div>
        {% set rightContent = block('rightFormContent') %}
        {% if rightContent is not empty %}
        <div class="col-md-3 height-auto bdr-l">
            <div class="pr-lg pl-lg pt-md pb-md">
                {{ rightContent|raw }}
            </div>
        </div>
        {% endif %}
    </div>
{{ form_end(form) }}
{% endblock %}
