<!DOCTYPE html>
<html>
    <head>
        {% if page is defined %}
            <title>{{ page.getTitle() }}</title>
            <meta name="description" content="{{ page.metaDescription }}">
        {% endif %}
        {{ outputHeadDeclarations() }}
    </head>
    <body>
        {{ outputScripts('bodyOpen') }}
        {% block content %}{% endblock %}
        {{ outputScripts('bodyClose') }}
    </body>
</html>