{% set mauticTemplateVars = mauticTemplateVars is defined ? mauticTemplateVars : [] %}
{% extends "MauticCoreBundle:FormTheme:form.html.twig" %}
{% block mainFormContent %}
{{ form_start(form) }}
    <div class="box-layout">
        <div class="col-md-<?php echo $hasRightColumn ? 9 : 12; ?> height-auto bg-white">
            <div class="row">
                <div class="col-xs-12">
                    {{ form_errors(form) }}
                    {% block aboveTabsContent %}{% endblock %}
                    {{ customContent('tabs.above', mauticTemplateVars) }}
                    {{- include('MauticCoreBundle:Helper:tabs.html.php', {'tabs' : tabs}) -}}
                    <div class="pr-md pl-md">
                        {% if block('content') is not empty %}
                            {{ block('content') }}
                        {% else %}
                            {{ form_rest(form) }}
                        {% endif %}
                    </div>
                    {% block belowTabsContent %}{% endblock %}
                    {{ customContent('tabs.below', mauticTemplateVars) }}
                </div>
            </div>
        </div>
        {% if block('rightFormContent') is not empty %}
        <div class="col-md-3 bg-white height-auto bdr-l">
            <div class="pr-lg pl-lg pt-md pb-md">
                {{ block('rightFormContent') }}
            </div>
        </div>
        {% endif %}
    </div>
{{ form_end(form) }}
{% endblock %}
