{% if items|length > 0 %}
    <div class="table-responsive page-list">
        <table class="table table-hover table-striped table-bordered point-list" id="pointTable">
            <thead>
            <tr>
                {{ include('@MauticCore/Helper/tableheader.html.twig', {
                        'checkall': 'true',
                        'target': '#pointTable',
                        'routeBase': 'point',
                        'templateButtons': {
                            'delete': permissions['point:points:delete'],
                        },
                }) }}

                {{ include('@MauticCore/Helper/tableheader.html.twig', {
                        'sessionVar': 'point',
                        'orderBy': 'p.name',
                        'text': 'mautic.core.name',
                        'class': 'col-point-name',
                        'default': true,
                }) }}

                {{ include('@MauticCore/Helper/tableheader.html.twig', {
                        'sessionVar': 'point',
                        'orderBy': 'cat.title',
                        'text': 'mautic.core.category',
                        'class': 'visible-md visible-lg col-point-category',
                }) }}

                {{ include('@MauticCore/Helper/tableheader.html.twig', {
                        'sessionVar': 'point',
                        'orderBy': 'pl.name',
                        'text': 'mautic.point.thead.group',
                        'class': 'visible-md visible-lg col-point-group',
                }) }}

                {{ include('@MauticCore/Helper/tableheader.html.twig', {
                        'sessionVar': 'point',
                        'orderBy': 'p.delta',
                        'text': 'mautic.point.thead.delta',
                        'class': 'visible-md visible-lg col-point-delta',
                }) }}

                <th class="col-point-action">{{ 'mautic.point.thead.action'|trans }}</th>

                {{ include('@MauticCore/Helper/tableheader.html.twig', {
                        'sessionVar': 'point',
                        'orderBy': 'p.id',
                        'text': 'mautic.core.id',
                        'class': 'visible-md visible-lg col-point-id',
                }) }}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        {{ include('@MauticCore/Helper/list_actions.html.twig', {
                                'item': item,
                                'templateButtons': {
                                    'edit': permissions['point:points:edit'],
                                    'clone': permissions['point:points:create'],
                                    'delete': permissions['point:points:delete'],
                                },
                                'routeBase': 'point',
                        }) }}
                    </td>
                    <td>
                        <div>
                            {{ include('@MauticCore/Helper/publishstatus_icon.html.twig', {'item': item, 'model': 'point'}) }}
                            {% if permissions['point:points:edit'] %}
                                <a href="{{ path('mautic_point_action', {'objectAction': 'edit', 'objectId': item.id}) }}" data-toggle="ajax">
                                    {{ item.name }}
                                </a>
                            {% else %}
                                {{ item.name }}
                            {% endif %}
                        </div>
                        {% if item.description is not empty %}
                            <div class="text-muted mt-4">
                                <small>{{ item.description|purify }}</small>
                            </div>
                        {% endif %}
                    </td>
                    <td class="visible-md visible-lg">
                        {% set category = item.category %}
                        {% set catName = category.title|default('mautic.core.form.uncategorized'|trans) %}
                        {% set color = category ? '#' ~ category.color : 'inherit' %}
                        <span style="white-space: nowrap;">
                          <span class="label label-default pa-4" style="border: 1px solid #d5d5d5; background: {{ color }};"> </span>
                          <span>{{ catName }}</span>
                        </span>
                    </td>
                    <td class="visible-md visible-lg">
                        {% set group = item.group %}
                        {% set groupName = group.name|default('mautic.point.group.form.nogroup'|trans) %}
                        {{ groupName }}
                    </td>
                    <td class="visible-md visible-lg">{{ item.delta }}</td>
                    <td>{{ actions[item.type].label|default('')|trans }}</td>
                    <td class="visible-md visible-lg">{{ item.id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {{ include('@MauticCore/Helper/pagination.html.twig', {
                'totalItems': items|length,
                'page': page,
                'limit': limit,
                'menuLinkId': 'mautic_point_index',
                'baseUrl': path('mautic_point_index'),
                'sessionVar': 'point',
        }) }}
    </div>
{% else %}
    {{ include('@MauticCore/Helper/noresults.html.twig', {'tip': 'mautic.point.action.noresults.tip'}) }}
{% endif %}
