{{ form_start(form) }}
{{ form_row(form.text) }}
<div class="row">
    <div class="col-xs-6">
        {{ form_widget(form.type) }}
    </div>
    <div class="col-xs-6">
        {{ form_widget(form.dateTime) }}
    </div>
</div>
{{ form_row(form.buttons) }}
{{ form_end(form) }}
