<html>
    <head>
        {{ outputHeadDeclarations() }}
    </head>
    <body style="background: #f2f2f2;">
        <table style="border-collapse: collapse; background: #FFFFFF; width: 600px; min-height: 760px; color: #555; display: block; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; border: 1px solid #d5d4d4; box-shadow: 1px 1px 1px #d5d4d4; margin: 50px auto;">
            <tr>
                <td style="vertical-align: top;color: #ffffff; background-color: #4e5d9d; padding: 30px 50px; font-size: 20px; line-height: 1.5em;">
                    {{ slot('header') }}
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; padding: 30px 50px; font-size: 17px; line-height: 1.7em;">
                    {{ slot('body') }}
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; padding: 30px 50px; font-size: 12px; line-height: 1.5em;">
                    {{ slot('footer') }}
                </td>
            </tr>
        </table>
        {{ slot('builder') }}
    </body>
</html>
