<h4 class="mt-lg fw-sb pa-md">{{'mautic.form.forms'|trans}}</h4>
<p class="pi-md text-helper">{{'mautic.placeholder_tokens.form.redirect_url'|trans}}</p>

<ul id="formTokensAccordion" class="accordion" role="tablist" aria-multiselectable="true">
    <!-- Form specific tokens -->
    <li class="panel">
        <a role="button" id="headingFormTokens" class="accordion-heading collapsed" data-toggle="collapse"
            data-parent="#formTokensAccordion" href="#collapseFormTokens" aria-expanded="false"
            aria-controls="collapseFormTokens">
            <i class="ri-arrow-down-s-line accordion-arrow"></i>
            <span class="accordion-title">{{ 'mautic.placeholder_tokens.form_tokens'|trans }}</span>
        </a>
        <div id="collapseFormTokens" class="collapse accordion-wrapper" role="tabpanel"
            aria-labelledby="headingFormTokens">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'mautic.placeholder_tokens.variable_name'|trans }}</th>
                        <th>{{ 'mautic.placeholder_tokens.variable_syntax'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ 'mautic.placeholder_tokens.form.field_value'|trans }}</td>
                        <td><code>{formfield=alias}</code></td>
                    </tr>
                    <tr>
                        <td>{{ 'mautic.placeholder_tokens.form.page'|trans }}</td>
                        <td><code>{pagelink=ID}</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>