{% block filter_selector_row %}
    {% set labelClass = form.vars.label_attr.class is defined ? form.vars.label_attr.class : 'control-label' %}
    {% set inGroup = from.vars.data.glue is not defined or (form.vars.data.glue is defined and 'and' == form.vars.data.glue) %}
    <div class="panel{{ inGroup ? ' in-group' : '' }}" id="{{ form.vars.id }}_container">
        <div class="panel-heading">
            <div class="panel-glue col-sm-2 pl-0">
                {{ form_row(form.vars.form.children.glue) }}
            </div>
        </div>
        <div class="panel-body">
            <div class="row mb-sm">
                <div class="choice-wrapper col-xs-3">
                    {{ form_row(form.vars.form.children.column) }}
                </div>
                <div class="choice-wrapper col-xs-2">
                    {{ form_row(form.vars.form.children.condition) }}
                </div>
                <div class="choice-wrapper col-xs-4">
                    {{ form_row(form.vars.form.children.value) }}
                </div>
                <div class="choice-wrapper col-xs-2">
                    {{ form_row(form.vars.form.children.dynamic) }}
                </div>
                <div class="col-xs-1 mt-lg">
                    <button type="button" class="btn btn-danger"
                            onclick="Mautic.removeReportRow('{{ form.vars.id }}_container');" data-toggle="tooltip"
                            title="{{ 'mautic.report.report.label.removefilter'|trans }}">
                        <i class="fa fa-minus-square-o"></i></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}