{#
  Variables
    - form
    - groups
    - fields
#}
{{ form_start(form) }}
    <div class="box-layout">
        <ul class="nav nav-tabs pr-md pl-md mt-10">
            {% for g in groups %}
                {% if fields[g] is not empty %}
                    <li class="{% if loop.first %}active{% endif %}">
                        <a href="#company-{{ g }}" class="steps" data-toggle="tab">{{ ('mautic.lead.field.group.'~g)|trans }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="tab-content pa-md">
        {{ include('@MauticLead/Company/form_fields.html.twig', {'form': form, 'groups': groups, 'fields': fields, 'embedded': true}) }}
    </div>
    </div>
{{ form_end(form) }}
