{#
    @copyright   2014 Mautic Contributors. All rights reserved
    @author      Mautic
    @link        http://mautic.org
    @license     GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
#}

{# TODO: continue #}

<div class="tab-pane dynamic-content bdr-w-0{{ '0' == form.vars.name ? ' active' : ' fade' }}" id="{{ form.vars.id }}">
    <div class="panel">
        {% set tabHtml = '<ul class="bg-auto nav nav-tabs pr-md pl-md" id="dynamicContentFilterTabs_'{{ form.vars.name }} %}

        {% set tabHtml = '<ul class="bg-auto nav nav-tabs pr-md pl-md" id="dynamicContentFilterTabs_'~{{ form.vars['name'] }}~'">' %}
        {% set tabHtml ~= '<li><a role="tab" class="addNewDynamicContentFilter" data-index="'~{{ form.vars['name'] }}~
            '"><i class="fa fa-plus text-success"></i> ' ~ {{ 'mautic.core.form.new'|trans }} ~ '</a></li>' %}
        {% set tabHtml ~= '<li class="active"><a data-toggle="tab" href="#emailform_dynamicContent_'~{{ form.vars['name'] }}~'_default" role="tab">Default</a></li>' %}
        {% set tabContentHtml = '<div class="tab-content pa-md"><div class="tab-pane bdr-w-0 active" id="emailform_dynamicContent_'~{{ form.vars['name'] }}~'_default">' %}
        {% set tabContentHtml ~= '<div class="row hidden"><div class="col-xs-10">' %}
        {% set tabContentHtml ~= {{ form_row(form['tokenName']) }} %}
        {% set tabContentHtml ~= '</div></div>' %}
        {% set tabContentHtml ~= {{ form_row(form['content']) }} %}
        {% set tabContentHtml ~= '</div>' %}

        {% for filter, i in form['filters'] %}
            {% set isFirst = 0 === i ? ' active' : '' %}
            {% set tabHtml ~= '<li><a role="tab" data-toggle="tab" href="#'~{{ filter.vars['id'] }}~'">'~ {{ 'mautic.core.dynamicContent.tab'|trans }} ~' '~(i + 1)~'</a></li>' %}
            {% set tabContentHtml ~= {{ form_widget(filter)}} %}
        {% endfor %}

        {% set tabHtml ~= '</ul>' %}
        {% set tabContentHtml ~= '</div>' %}

        {{ tabHtml }}
        {{ tabContentHtml }}
    </div>
</div>
