{% set request = app.request %}
{% set contentOnly = request.get('contentOnly', false) or (contentOnly is defined and contentOnly is not empty) %}
{% set modalView = request.get('modal', false) or (modalView is defined and modalView is not empty) %}
{% set isAjax = app.request.isxmlhttprequest ?? false %}
{% set template = contentOnly ? 'MauticCoreBundle:Default:slim.html.twig' :  'MauticCoreBundle:Default:base.html.twig' %}

{% if isAjax == false and not modalView %}
    {# load base template #}
    {% if template is not empty %}{% extends template %}{% endif %}
{% endif %}

{% block _content %}
    {% if not modalView %}
        <div class="content-body">
            {{ include('MauticCoreBundle:Default:pageheader.html.twig', {
                publishStatus: publishStatus|default(''),
                headerTitle: headerTitle,
                actions: actions|default(''),
                toolbar: toolbar|default(''),
                mauticTemplateVars: mauticTemplateVars|default([]),
            }) }}
            {% if block('panel') is defined %}{{ block('panel') }}{% endif %}
        </div>
        {% block modal %}{% endblock %}
        {{ securityGetAuthenticationContext() }}
    {% else %}
        {% if block('panel') is defined %}{{ block('panel') }}{% endif %}
    {% endif %}
{% endblock %}

{# load base template #}
{# {% set template = null %}
{% if not request.isXmlHttpRequest() and not modalView %}
    {% set template = contentOnly ? 'MauticCoreBundle:Default:slim.html.twig' :  'MauticCoreBundle:Default:base.html.twig' %}
{% elseif not modalView %}
    {% set template = 'MauticCoreBundle:Default:output.html.twig' %}
{% endif %}
{{- '' -}}
{% if template is not empty %}
    {{- include(template, {
        content: block('content'),
        modal: block('modal') is defined ? block('modal') : '',
        headerTitle: block('headerTitle'),
        pageTitle: block('pageTitle') is defined ? block('pageTitle') : '',
        publishStatus: block('publishStatus') is defined ? block('publishStatus') : '',
        actions: block('actions') is defined ? block('actions') : '',
        toolbar: block('toolbar') is defined ? block('toolbar') : '',
        isXmlHttpRequest: request.isXmlHttpRequest
    }) -}}
{% else %}
    {{ block('content') }}
{% endif %} #}

