{% set request = app.request %}
{% set content_only = true %}
{% set modal_view = false %}

<!DOCTYPE html>
<html>
{{ include('MauticCoreBundle:Default:head.html.twig') }}

{% if not request.isXmlHttpRequest() and not modal_view %}
<!-- BASE VIEW -->
<body class="header-fixed">
    <section id="app-wrapper">
        {{ outputScripts('bodyOpen') }}

        <aside class="app-sidebar sidebar-left">
            {{ include('MauticCoreBundle:LeftPanel:index.html.twig') }}
        </aside>

        <aside class="app-sidebar sidebar-right">
            {{ include('MauticCoreBundle:RightPanel:index.html.twig') }}
        </aside>

        <header id="app-header" class="navbar">
            {{ include('MauticCoreBundle:Default:navbar.html.twig') }}

            {{ include('MauticCoreBundle:Notification:flashes.html.twig') }}
        </header>

        <footer id="app-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 text-muted">{% trans with {'%date%': 'now' | date('Y') } %}mautic.core.copyright{% endtrans %}</div>
                    <div class="col-xs-6 text-muted text-right small">v{{ mauticAppVersion() }}</div>
                </div>
            </div>
        </footer>

        <section id="app-content">
            <!-- TODO add flashes -->
            <div class="content-body">
                <div class="page-header">
                    <div class="box-layout">
                        <div class="col-xs-5 col-sm-6 col-md-5 va-m">
                            <h3 class="pull-left">
                                {% block headerTitle %}{% endblock %}
                            </h3>
                            <div class="col-xs-2 text-right pull-left">
                                {% block publishStatus %}{% endblock %}
                            </div>
                            {{ customContent('page.header.left', mauticTemplateVars is defined ? mauticTemplateVars : []) }}
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-7 va-m">
                            <div class="toolbar text-right" id="toolbar">
                                {% block actions %}{% endblock %}

                                <div class="toolbar-bundle-buttons pull-left">
                                    {% block toolbar %}{% endblock %}
                                </div>
                                <div class="toolbar-form-buttons hide pull-right">
                                    <div class="btn-group toolbar-standard hidden-xs hidden-sm "></div>
                                    <div class="btn-group toolbar-dropdown hidden-md hidden-lg">
                                        <button type="button" class="btn btn-default btn-main"></button>
                                        <button type="button" class="btn btn-default btn-nospin  dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false"><i class="fa fa-caret-down"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </div>
                                </div>
                                {{ customContent('page.header.right', mauticTemplateVars is defined ? mauticTemplateVars : []) }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </section>

        <script>
            Mautic.onPageLoad('body');
            // TODO add some == dev logic here for the symfony bar
        </script>
        {{ outputScripts('bodyClose') }}
        {{ include('MauticCoreBundle:Helper:modal.html.twig', {
            id: 'MauticSharedModal',
            footerButtons: true
        }) }}
    </section>
</body>
{% endif %}

<!-- TODO add modal here -->
<!-- TODO add getAuthenticationContext() here -->

</html>