<!DOCTYPE html>
<html>
    {% set headerTitle = headerTitle|default('') %}
    {% set pageTitle = pageTitle|default('Mautic') %}
    {{ include('MauticCoreBundle:Default:head.html.twig', {
            headerTitle: headerTitle,
            pageTitle: pageTitle,
        })
    }}
    <body>
        {{ outputScripts('bodyOpen') }}
       
        <section id="app-content" class="container content-only">
            {{ include('MauticCoreBundle:Notification:flashes.html.twig', {
                alertType: 'standard'
            }) }}
            {% block _content %}
                {{ include('MauticCoreBundle:Default:output.html.twig', {
                    publishStatus: publishStatus|default(''),
                    headerTitle: headerTitle|default(''),
                    actions: block('actions') is defined ? block('actions') : '',
                    toolbar: block('toolbar') is defined ? block('toolbar') : '',
                    mauticTemplateVars: mauticTemplateVars|default([]),
                    content: block('content'),
                    modal: block('modal') is defined ? block('modal') : '',
                }) }}
            {% endblock %}
        </section>
        {{ include('MauticCoreBundle:Helper:modal.html.twig', {
            id: 'MauticSharedModal',
            footerButtons: true
        }) }}
        {{ outputScripts('bodyClose') }}
        <script>
            Mautic.onPageLoad('body');
        </script>
    </body>
</html>
