<mjml>
  <mj-head>
	<mj-attributes>
	  <mj-all margin="0">
	  </mj-all>
	</mj-attributes>
	<!-- CSS-STYLE -->
	<mj-style inline="inline"> p, li {margin:0 !important; padding:0; line-height:1.4em;}
	</mj-style>
  </mj-head>
  <!-- BODY -->
  <mj-body background-color="#d0d0d0">
	<mj-section padding-top="40px" background-color="#ffffff">
	  <mj-column>
		<mj-text font-size="11px" align="center">
		  <p>
			<span data-fr-verified="true"><span data-fr-verified="true" class="atwho-inserted">{webview_text}</span>⁠⁠⁠⁠⁠⁠⁠</span>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-logo.png', null, null, true) }}" width="70px" padding-bottom="0px" padding-top="0px">
		</mj-image>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff">
	  <mj-column width="550px">
		<mj-text font-size="24px" align="center" font-weight="700">
		  <p>Connect through content
		  </p>
		</mj-text>
		<mj-spacer align="center">
		</mj-spacer>
		<mj-text font-size="16px" align="center">
		  <p>Build brand loyalty with engaging newsletters. Highlight blog posts, showcase products, or announce upcoming events.
		  </p>
		</mj-text>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff">
	  <mj-column>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}" padding-right="0px" padding-left="0px" padding-bottom="0px">
		</mj-image>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff">
	  <mj-column width="275px">
		<mj-spacer>
		</mj-spacer>
		<mj-text font-size="22px" font-weight="700">
		  <p>Spotlight your main attraction
		  </p>
		</mj-text>
		<mj-text font-size="16px">
		  <p>Lead with a standout feature to make your email scannable. Whether it's a fresh article or a new product launch, make it pop.
		  </p>
		</mj-text>
	  </mj-column>
	  <mj-column width="275px">
		<mj-spacer>
		</mj-spacer>
		<mj-spacer>
		</mj-spacer>
		<mj-spacer>
		</mj-spacer>
		<mj-spacer>
		</mj-spacer>
		<mj-text font-size="16px">
		  <p>Customize with your visuals or choose a bold background color.
		  </p>
		</mj-text>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff" padding-top="0px">
	  <mj-column padding-top="0px">
		<mj-button href="https://" background-color="#000000" inner-padding="16px 32px" border-radius="0px 0px 0px 0px" font-size="16px" padding-top="0px">
		  <p>Discover more
		  </p>
		</mj-button>
	  </mj-column>
	</mj-section>
	<mj-section padding-top="40px" padding-bottom="40px" background-color="#f4f4f4">
	  <mj-column width="275px">
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}">
		</mj-image>
	  </mj-column>
	  <mj-column width="275px">
		<mj-text font-size="22px" font-weight="700">
		  <p>Showcase your expertise
		  </p>
		</mj-text>
		<mj-text font-size="14px">
		  <p>Feature an image of your latest offering or a recent successful project.
		  </p>
		</mj-text>
	  </mj-column>
	</mj-section>
	<mj-section padding-top="40px" padding-bottom="40px" background-color="#ffffff">
	  <mj-column width="275px">
		<mj-text font-size="22px" font-weight="700">
		  <p>Enhance your articles
		  </p>
		</mj-text>
		<mj-text font-size="14px">
		  <p>Pair eye-catching visuals with compelling text to boost click-through rates.
		  </p>
		</mj-text>
		<mj-text font-size="14px">
		  <p>
			<u>Explore further
			</u>
		  </p>
		</mj-text>
	  </mj-column>
	  <mj-column width="275px">
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}">
		</mj-image>
	  </mj-column>
	</mj-section>
	<mj-section padding-top="40px" padding-bottom="40px" background-color="#f4f4f4">
	  <mj-column width="275px">
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}">
		</mj-image>
	  </mj-column>
	  <mj-column width="275px">
		<mj-text font-size="22px" font-weight="700">
		  <p>What's on the horizon
		  </p>
		</mj-text>
		<mj-text font-size="14px">
		  <p>Tease upcoming events or give a preview of soon-to-launch collections.
		  </p>
		</mj-text>
		<mj-text font-size="14px">
		  <p>
			<u>Save your spot
			</u>
		  </p>
		</mj-text>
	  </mj-column>
	</mj-section>
	<mj-section padding-top="0" padding-bottom="20px" background-color="#000000">
	  <mj-column>
		<mj-spacer height="40px">
		</mj-spacer>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-logo-inverse.png', null, null, true) }}" width="70px" padding-bottom="0px">
		</mj-image>
		<mj-spacer>
		</mj-spacer>
		<mj-text font-family="Ubuntu, Helvetica, Arial, sans-serif" line-height="1.5" align="center" padding-top="0px" padding-bottom="0px" font-size="12px" color="white">
		  <p>Amazing Company
			<br/>11111 Beautiful City, 1212 Nice Street
			<br/>Brazil
			<br/>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
		<mj-text font-size="11px" align="center" color="#a1a1a1">
		  <p>Fancy seeing you down here. You’re getting this email because you gave us your email address.
		  </p>
		  <p>Want to change how you receive these emails?
		  </p>
		</mj-text>
		<mj-text font-size="11px" align="center" color="#a1a1a1">
		  <p>
			<span data-fr-verified="true"><span data-fr-verified="true" class="atwho-inserted">{unsubscribe_text}</span>⁠⁠⁠⁠⁠⁠⁠</span>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
	  </mj-column>
	</mj-section>
  </mj-body>
</mjml>