<div class="share-button twitter-share-button layout-{{ settings.count|default('0') }}">
    <a href="https://twitter.com/share"
    {% if settings.text is defined and settings.text is not empty %}data-text="{{ settings.text }}"{% endif %}
    {% if settings.via is defined and settings.via is not empty %}data-via="{{ settings.via }}"{% endif %}
    {% if settings.related is defined and settings.related is not empty %}data-related="{{ settings.related }}"{% endif %}
    {% if settings.hashtags is defined and settings.hashtags is not empty %}data-hashtags="{{ settings.hashtags }}"{% endif %}
    {% if settings.size is defined and settings.size is not empty %}data-size="{{ settings.size }}"{% endif %}
    {% if settings.count is defined and settings.count is not empty %}data-count="{{ settings.count }}"{% endif %}
    class="twitter-share-button share-button">{{ 'mautic.integration.Twitter.share.tweet'|trans }}</a>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
