<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.getTitle() }}</title>
        <meta name="description" content="{{ page.getMetaDescription() }}">
        <link rel="stylesheet" href="{{ getAssetUrl('themes/skyline/css/skyline.css') }}" type="text/css" />
    </head>
    <body style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
        {{ outputScripts('bodyOpen') }}
        {% block content %}{% endblock %}
        {{ outputScripts('bodyClose') }}
    </body>
</html>
