{% import '@MauticSocial//macros.html.twig' as social %}
<div class="media">
    {{ social.profileImage(profile) }}
    <div class="media-body">
        <h4 class="media-title">{{ profile.formattedName }}</h4>
        <p><a href="https://www.linkedin.com/{{ profile.profileHandle }}" target="_blank">{{ profile.profileHandle }}</a></p>
        <p class="text-muted">
            {{ profile.headline }}
        </p>
        <p class="text-muted">
            {{ profile.summary }}
        </p>
    </div>
</div>
