<!-- Contact Monitoring tokens -->
<li class="panel">
    <a role="button" id="headingContactMonitoring" class="accordion-heading collapsed" data-toggle="collapse"
      data-parent="#tokensAccordion" href="#collapseContactMonitoring" aria-expanded="false"
      aria-controls="collapseContactMonitoring">
      <i class="ri-arrow-down-s-line accordion-arrow"></i>
      <span class="accordion-title">{{ 'mautic.placeholder_tokens.contact_monitoring'|trans }}</span>
    </a>
    <div id="collapseContactMonitoring" class="collapse accordion-wrapper" role="tabpanel"
      aria-labelledby="headingContactMonitoring">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ 'mautic.placeholder_tokens.variable_name'|trans }}</th>
            <th>{{ 'mautic.placeholder_tokens.variable_syntax'|trans }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.language'|trans }}</td>
            <td><code>{language}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.title'|trans }}</td>
            <td><code>{title}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.landing_page_title'|trans }}</td>
            <td><code>{page_title}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.url'|trans }}</td>
            <td><code>{url}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.landing_page_url'|trans }}</td>
            <td><code>{page_url}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.referrer'|trans }}</td>
            <td><code>{referrer}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.tracking_pixel'|trans }}</td>
            <td><code>{tracking_pixel}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.utm_campaign'|trans }}</td>
            <td><code>{utm_campaign}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.utm_content'|trans }}</td>
            <td><code>{utm_content}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.utm_medium'|trans }}</td>
            <td><code>{utm_medium}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.utm_source'|trans }}</td>
            <td><code>{utm_source}</code></td>
          </tr>
          <tr>
            <td>{{ 'mautic.placeholder_tokens.monitoring.utm_term'|trans }}</td>
            <td><code>{utm_term}</code></td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>