{% set item = event['extra']['log'] %}
{% set errors = false %}
{% if item['metadata']['errors'] is defined %}
    {% if item['metadata']['errors'] is iterable %}
      {% set errors = item['metadata']['errors']|join('<br />') %}
    {% else %}
      {% set errors = item['metadata']['errors'] %}
    {% endif %}
{% elseif item['metadata']['failed'] %}
    {% if item['metadata']['reason'] is defined %}
      {% set errors = item['metadata']['reason'] %}
    {% else %}
      {% set errors = 'mautic.campaign.event.failed.timeline' %}
    {% endif %}
    {% set errors = errors|trans %}
{% elseif item['fail_reason'] %}
    {% set errors = item['fail_reason'] %}
{% endif %}

{% set cancelled = false %}
{% if item['isScheduled'] and item['dateTriggered'] %}
  {% set cancelled = true %}
{% endif %}

{% set dateSpan = '' %}
{% if item['triggerDate'] %}
  {% set dateSpan = '<span class="timeline-campaign-event-date-'~item['event_id']~'" data-date="'~dateToFullConcat(item['triggerDate'])~'">'~dateToFull(item['triggerDate'])~'</span>' %}
{% endif %}

{% if cancelled %}
  {# Note is scheduled #}
  {% set item = item|merge({'isScheduled': true}) %}
{% endif %}

<div class="mt-10">
{% if item['isScheduled'] %}
    <p class="mt-0 mb-10 text-info" id="timeline-campaign-event-{{ item['event_id'] }}">
        <span id="timeline-campaign-event-text-{{ item['event_id'] }}" class="{% if cancelled %}text-warning{% endif %}">
            <i class="fa fa-clock-o"></i>
            <span class="timeline-campaign-event-scheduled-{{ item['event_id'] }}{% if cancelled %} hide{% endif %}">
                {{ 'mautic.core.timeline.event.scheduled.time'|trans({'%date%': dateSpan, '%event%': event['eventLabel']}) }}
            </span>
            <span class="timeline-campaign-event-cancelled-{{ item['event_id'] }}{% if false == cancelled %} hide{% endif %}">
                {{ 'mautic.campaign.event.cancelled.time'|trans({'%date%': dateSpan, '%event%': event['eventLabel']}) }}
            </span>
        </span>
        {% if lead is defined and securityHasEntityAccess('lead:leads:editown', 'lead:leads:editother', lead.permissionUser) %}
        <span class="form-buttons btn-group btn-group-xs mb-3" role="group" aria-label="Field options">
            <button type="button" id="timeline-campaign-event-save-{{ item['event_id'] }}" class="btn btn-default btn-nospin" onmousedown="return false;" onclick="Mautic.saveScheduledCampaignEvent({{ item['event_id'] }}, {{ lead.id }})" data-toggle="tooltip" title="{{ 'mautic.campaign.event.save'|trans }}" style="display:none">
                <i class="fa fa-floppy-o text-primary"></i>
            </button>
            <button type="button" class="btn btn-default btn-nospin btn-reschedule" onclick="Mautic.updateScheduledCampaignEvent({{ item['event_id'] }}, {{ lead.id }})" data-toggle="tooltip" title="{{ 'mautic.campaign.event.reschedule'|trans }}">
                <i class="fa fa-clock-o text-primary"></i>
            </button>
            <button type="button" class="btn btn-default btn-nospin" {% if cancelled %}disabled{% endif %} onclick="Mautic.cancelScheduledCampaignEvent({{ item['event_id'] }}, {{ lead.id }})" data-toggle="tooltip" title="{{ 'mautic.campaign.event.cancel'|trans }}">
                <i class="fa fa-times text-danger"></i>
            </button>
        </span>
        {% endif %}
    </p>
{% endif %}

{% if errors %}
    {% if item['isScheduled'] %}
    <hr />
    {% endif %}
    <p class="text-danger mt-0 mb-10"><i class="fa fa-warning"></i> {{ 'mautic.campaign.event.last_error'|trans }}: {{ errors }}</p>
{% endif %}

{% if item['metadata']['timeline'] is defined or item['campaign_description'] or item['event_description'] %}
    <hr />

    {% if item['metadata']['timeline'] is defined %}
        <p class="mt-0 mb-10">{{ item['metadata']['timeline'] }}</p>
    {% endif %}

    {% if item['campaign_description'] is defined %}
        <p class="mt-0 mb-10">{{ 'mautic.campaign.campaign.description'|trans({'%description%': item['campaign_description']}) }}</p>
    {% endif %}
    {% if item['event_description'] is defined %}
        <p class="mt-0 mb-10">{{ 'mautic.campaign.campaign.description'|trans({'%description%': item['event_description']}) }}</p>
    {% endif %}
{% endif %}
</div>
