<div class="alert {% if n.type is defined %}alert-{{ n.type }}{% endif %} ma-0 bdr-b notification" id="notification{{ n.id }}">
    <div class="media-body notification">
        <div class="text-muted fw-b mb-xs {% if n.type is defined %}ml-lg{% endif %}">
            {{ dateToHumanized(n.dateAdded) }}
            {% if not n.isRead %}
                <span class="is-unread text-danger"><i class="ri-asterisk"></i></span>
            {% endif %}
        </div>
        {% if n.header %}
            <div class="notification-header fs-b-e fw-b mb-3 mt-sm">{{ format(n.header)|trans }}</div>
        {% endif %}
        <div class="text-muted">{{ format(n.message, 'html') }}</div>
    </div>
    <a href="javascript:void(0);"
       class="btn btn-ghost btn-icon btn-sm close btn-nospin pull-right do-not-close"
       data-toggle="tooltip"
       title="{{ 'mautic.core.notifications.clear'|trans }}"
       onclick="Mautic.clearNotification({{ n.id }});">
        <i class="ri-close-line do-not-close"></i>
    </a>
</div>