<li class="dropdown dropdown-custom" id="notificationsDropdown">
    <a href="javascript: void(0);" onclick="Mautic.showNotifications();" class="dropdown-toggle dropdown-notification" data-toggle="dropdown">
        {% set hideClass = updateMessage.isNew or showNewIndicator ? '' : ' hide' %}
        <span class="label label-danger{{ hideClass }}" id="newNotificationIndicator"><i class="fa fa-asterisk"></i></span>
        <span class="ri-notification-3-line ri-xl"></span>
    </a>
    <div class="dropdown-menu">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title notification notification-title">
                    <h6 class="fw-sb">{% trans %}mautic.core.notifications{% endtrans %}
                        <a href="javascript:void(0);" class="btn-link btn-xs btn-nospin pull-right" onclick="Mautic.clearNotification(0);">{% trans %}mautic.core.notifications.clearall{% endtrans %}</a>
                    </h6>
                </div>
            </div>
            <div class="pt-0 pb-xs pl-0 pr-0">
                <div class="scroll-content slimscroll" id="notifications">
                    {{ include('@MauticCore/Notification/notification_messages.html.twig', {
                        notifications: notifications,
                        updateMessage: updateMessage
                    }) }}
                    {% set class = notifications is not empty ? ' hide' : '' %}
                    <div class="{{ class }} mautibot-image notification-empty" id="notificationMautibot">
                        <img class="img img-responsive" src="{{ mautibotGetImage('wave') }}" />
                    </div>
                </div>
            </div>
            {% set lastNotification = notifications|first %}
            <input id="mauticLastNotificationId" type="hidden" value="{{ lastNotification.id is defined ? lastNotification.id|escape : '' }}" />
        </div>
    </div>
</li>
