{% if showMore is defined %}
<a href="{{ url('mautic_page_index', {'search': searchString}) }}" data-toggle="ajax">
    <span>{{ 'mautic.core.search.more'|trans({'%count%': remaining}) }}</span>
</a>
{% else %}
<a href="{{ url('mautic_page_action', {'objectAction': 'view', 'objectId': page.id}) }}" data-toggle="ajax">
    {{ page.title|purify }}
    <span class="label label-default pull-right" data-toggle="tooltip" title="{{ 'mautic.page.hits'|trans }}" data-placement="left">
        {{ page.hits }}
    </span>
</a>
{% endif %}
