{% if data is not empty %}
    <div class="std-toolbar btn-group download-toolbar">
        <a class="btn btn-default" href="{{ path('mautic_form_export', {'objectId': object.id, 'format': 'csv'}) }}" data-toggle="ajax">
            <span><i class="fa fa-file-text-o"></i><span class="hidden-xs hidden-sm">{{ 'mautic.core.export.csv'|trans }}</span></span>
        </a>
        <a class="btn btn-default" href="{{ path('mautic_form_export', {'objectId': object.id, 'format': 'xlsx'}) }}" data-toggle="ajax">
            <span><i class="fa fa-file-excel-o"></i><span class="hidden-xs hidden-sm">{{ 'mautic.form.result.export.xlsx'|trans }}</span></span>
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered click-list">
            <thead>
            <tr>
                <td>{{ 'mautic.lead.lead.thead.country'|trans }}</td>
                {% if data|first.contacts is defined %}
                    <td>{{ 'mautic.lead.leads'|trans }}</td>
                {% endif %}
                {% if data|first.sent_count is defined and data|first.read_count is defined and data|first.clicked_through_count is defined %}
                    <td>{{ 'mautic.email.graph.line.stats.sent'|trans }}</td>
                    <td>{{ 'mautic.email.graph.line.stats.read'|trans }}</td>
                    <td>{{ 'mautic.email.report.is_hit'|trans }}</td>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td class="long-text">
                        {% set flag = item.country is defined and item.country is not empty ? assetGetCountryFlag(item.country) : '' %}
                        {% if flag is not empty %}
                            <img src="{{ flag }}" style="max-height: 24px;" class="mr-sm"  alt="{{ item.country }}"/>
                        {% endif %}
                        {{ item.country }}
                    </td>
                    {% if item.contacts is defined %}
                        <td class="text-center">{{ item.contacts }}</td>
                    {% endif %}
                    {% if item.sent_count is defined and item.read_count is defined and item.clicked_through_count is defined %}
                        <td class="text-center">{{ item.sent_count }}</td>
                        <td class="text-center">{{ item.read_count }}</td>
                        <td class="text-center">{{ item.clicked_through_count }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
