{% set labelColor %}
    {%- if entity.getPublishStatus() is same as('published') -%}
        success
    {%- elseif entity.getPublishStatus() is same as('unpublished') or entity.getPublishStatus() is same as('expired') -%}
        danger
    {%- elseif entity.getPublishStatus() is same as('pending') -%}
        warning
    {%- endif -%}
{% endset %}
{% if status is not defined %}
    {% set labelText = ('mautic.core.form.' ~ (entity.getPublishStatus() == 'published' ? 'active' : 'inactive'))|trans %}
{% else %}
    {% set labelText = ('mautic.core.form.' ~ (entity.getPublishStatus() == 'published' ? 'available' : 'unavailable'))|trans %}
{% endif %}
<div class="d-flex ai-center gap-xs text-{{ labelColor }} fw-b">
    <span title="{{ labelText }}" aria-label="{{ labelText }}" class="bg-{{ labelColor }} publishstatus_pulse"> </span>
{{ labelText }}
</div>
