<!DOCTYPE html>
<html>
    <head>
        {% if page is defined %}
        <title>{{ page.getTitle() }}</title>
        <meta name="description" content="{{ page.getMetaDescription() }}">
        {% endif %}
        <link rel="stylesheet" href="{{ getAssetUrl('themes/oxygen/css/oxygen.css') }}" type="text/css" />
    </head>
    <body>
        {{ outputScripts('bodyOpen') }}
        {% block content %}{% endblock %}
        {{ outputScripts('bodyClose') }}
    </body>
</html>
