{% extends '@MauticCore/Default/content.html.twig' %}

{% block mauticContent %}tagmanager{% endblock %}
{% block headerTitle %} {{ tag.getTag() }} {% endblock %}

{% set customButtons = {} %}

{% block actions %}
    {{- include('@MauticCore/Helper/page_actions.html.twig', {
        item : tag,
        nameGetter: 'getTag',
        templateButtons: {
            edit: security.isGranted('tagManager:tagManager:edit'),
            delete:  security.isGranted('tagManager:tagManager:delete'),
            close:  security.isGranted('tagManager:tagManager:edit'),
        },
        routeBase: 'tagmanager'
    }) -}}
{% endblock %}

{% block content %}
    <!-- start: box layout -->
    <div class="box-layout">
        <!-- left section -->
        <div class="col-md-12 bg-white height-auto">
            <div class="bg-auto">
                <!-- page detail header -->
                <!-- sms detail collapseable toggler -->
                <div class="pr-md pl-md pt-lg pb-lg">
                    <div class="box-layout">

                        <div class="col-xs-10">
                            <div class="text-white dark-sm mb-0">{{ tag.getDescription()|purify }}</div>

                        </div>

                    </div>
                </div>
                <div class="collapse" id="sms-details">
                    <div class="pr-md pl-md pb-md">
                        <div class="panel shd-none mb-0">
                            <table class="table table-bordered table-striped mb-0">
                                <tbody>
                                <tr>
                                    <td width="20%"><span class="fw-b textTitle">{% trans %}mautic.core.id{% endtrans %}</span></td>
                                    <td>{{ tag.getId() }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ sms detail collapseable toggler -->
            <div class="bg-auto bg-dark-xs">
                <div class="hr-expand nm">
                <span data-toggle="tooltip" title="Detail">
                    <a href="javascript:void(0)" class="arrow text-muted collapsed" data-toggle="collapse"
                       data-target="#sms-details">
                        <span class="caret"></span>{% trans %}mautic.core.details{% endtrans %}
                    </a>
                </span>
                </div>
            </div>
        </div>

        <!--/ right section -->
        <input name="entityId" id="entityId" type="hidden" value="{{ tag.getId()|escape }}" />
    </div>
    <!--/ end: box layout -->

{% endblock %}