<mjml>
  <mj-head>
	<mj-attributes>
	  <mj-all margin="0">
	  </mj-all>
	</mj-attributes>
	<!-- CSS-STYLE -->
	<mj-style inline="inline"> p, li {margin:0 !important; padding:0; line-height:1.4em;}
	</mj-style>
  </mj-head>
  <!-- BODY -->
  <mj-body background-color="#d0d0d0">
	<mj-section padding-top="40px" background-color="#ffffff">
	  <mj-column>
		<mj-text font-size="11px" align="center">
		  <p>
			<span data-fr-verified="true"><span data-fr-verified="true" class="atwho-inserted">{webview_text}</span>⁠⁠⁠⁠⁠⁠⁠</span>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-logo.png', null, null, true) }}" width="70px" padding-bottom="0px" padding-top="0px">
		</mj-image>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff" padding-top="0px">
	  <mj-column width="550px">
		<mj-text font-size="24px" align="center" font-weight="700">
		  <p>Maximize your experience
		  </p>
		</mj-text>
		<mj-text font-size="16px" align="center">
		  <p>Help users understand how to make the most of your products or services. Explain how to participate with your organization and provide useful tips.
		  </p>
		  <p>
			<br data-cke-filler="true"/>
		  </p>
		  <p>Start by replacing the logo and modifying the full-width banner to a new color or a high-quality image.
		  </p>
		</mj-text>
		<mj-spacer align="center">
		</mj-spacer>
		<mj-button href="https://" background-color="#000000" inner-padding="16px 32px" border-radius="0px 0px 0px 0px" font-size="16px">
		  <p>Call to action
		  </p>
		</mj-button>
		<mj-spacer align="center" height="40px">
		</mj-spacer>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}">
		</mj-image>
		<mj-text font-size="22px" font-weight="700">
		  <p>Pick your strategy
		  </p>
		</mj-text>
		<mj-text font-size="16px">
		  <p>Emphasize your product's benefits, provide care instructions, or demonstrate real-world usage examples.
		  </p>
		</mj-text>
		<mj-spacer align="center" height="40px">
		</mj-spacer>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}">
		</mj-image>
		<mj-text font-size="22px" font-weight="700">
		  <p>Break it down
		  </p>
		</mj-text>
		<mj-text font-size="16px">
		  <p>Segment your content into brief paragraphs for easy scanning, particularly on smaller screens.
		  </p>
		</mj-text>
		<mj-spacer align="center" height="40px">
		</mj-spacer>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}">
		</mj-image>
		<mj-text font-size="22px" font-weight="700">
		  <p>One more thing
		  </p>
		</mj-text>
		<mj-text font-size="16px">
		  <p>This is an ideal spot to offer extra resources like downloadable materials, available apps, or a product registration link.
		  </p>
		</mj-text>
		<mj-spacer align="center" height="40px">
		</mj-spacer>
	  </mj-column>
	</mj-section>
	<mj-section padding-top="30px" padding-bottom="30px" background-color="#f4f4f4">
	  <mj-column width="275px">
		<mj-spacer>
		</mj-spacer>
		<mj-text font-size="22px" font-weight="700">
		  <p>Close with support
		  </p>
		</mj-text>
	  </mj-column>
	  <mj-column width="275px">
		<mj-text font-size="16px">
		  <p>Inform readers how to contact you with questions or where to find help when needed.
		  </p>
		</mj-text>
	  </mj-column>
	</mj-section>
	<mj-section padding-top="0" padding-bottom="20px" background-color="#000000">
	  <mj-column>
		<mj-spacer height="40px">
		</mj-spacer>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-logo-inverse.png', null, null, true) }}" width="70px" padding-bottom="0px">
		</mj-image>
		<mj-spacer>
		</mj-spacer>
		<mj-text font-family="Ubuntu, Helvetica, Arial, sans-serif" line-height="1.5" align="center" padding-top="0px" padding-bottom="0px" font-size="12px" color="white">
		  <p>Amazing Company
			<br/>11111 Beautiful City, 1212 Nice Street
			<br/>Brazil
			<br/>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
		<mj-text font-size="11px" align="center" color="#a1a1a1">
		  <p>Fancy seeing you down here. You’re getting this email because you gave us your email address.
		  </p>
		  <p>Want to change how you receive these emails?
		  </p>
		</mj-text>
		<mj-text font-size="11px" align="center" color="#a1a1a1">
		  <p>
			<span data-fr-verified="true"><span data-fr-verified="true" class="atwho-inserted">{unsubscribe_text}</span>⁠⁠⁠⁠⁠⁠⁠</span>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
	  </mj-column>
	</mj-section>
  </mj-body>
</mjml>