{#
#}
{% set inputClass = inputcClass|default('button') %}
{% set type = type|default('button-wrapper') %}
{% set buttonType = filed.properties.type is defined ? filed.properties.type : 'submit' %}

{%- use 'MauticFormBundle:Field:layout.html.twig' -%}
<div {{ block('mautic_form_container_attributes') }}>
  <button type="{{ buttonType }}" name="mauticform[{{ field.alias }}]" {{ block('mautic_form_widget_attributes') }} value="1">{{ field.label }}</button>
</div>
