{% set containerType = type ~ 'grp' %}
{% set defaultInputClass = containerType ~ '-' ~ type %}
{% set ignoreId = true %}
{% set ignoreName = 'checkbox' == type %}
{% set optionLabelAttr = properties.labelAttributes|default('') %}
{% set wrapDiv = true %}
{% set defaultOptionLabelClass = 'mauticform-' ~ containerType ~ '-label' %}
{% if 'class' not in optionLabelAttr %}
    {% set optionLabelAttr = optionLabelAttr ~ ' class="' ~ defaultOptionLabelClass ~ '"' %}
{% else %}
    {% set optionLabelAttr = optionLabelAttr|replace({
            'class="': 'class="' ~ defaultOptionLabelClass ~ ' ',
    }) %}
    {% set wrapDiv = false %}
{% endif %}
{% set firstId = 'mauticform_' ~ containerType ~ '_' ~ type ~ '_' ~ field.alias ~ '_' ~ inputAlphanum(inputTransliterate(firstListValue|default(null))) ~ '1' %}

{%- use 'MauticFormBundle:Field:layout.html.twig' -%}

{%- block mautic_form_label -%}
  {%- if field.showLabel is defined or true == field.showLabel -%}
    <label {{ block('mautic_form_label_attributes') }} for="{{ firstId }}">{{ field.label }}</label>
  {%- endif -%}
{%- endblock -%}

{%- block mautic_form_row -%}
  <div {{ block('mautic_form_container_attributes') }}>
    {{ block('mautic_form_label') }}
    {{ block('mautic_form_help') }}
    {% for listValue, listLabel in list|default([]) %}
        {% set id = field.alias ~ '_' ~ inputAlphanum(inputTransliterate(listValue)) ~ loop.index0 %}
        {% set checked = field.defaultValue is same as listValue ? 'checked="checked"' : '' %}
        {% set checkboxBrackets = 'checkbox' == type ? '[]' : '' %}

        {% if wrapDiv %}<div class="mauticform-{{ containerType }}-row">{% endif %}

        <input {{ block('mautic_form_label_attributes') }} {{ checked }}
               name="mauticform[{{ field.alias }}]{{ checkboxBrackets }}"
               id="mauticform_{{ containerType }}_{{ type }}_{{ id }}"
               type="{{ type }}"
               value="{{ listValue|e }}" />
        <label id="mauticform_{{ containerType }}_label_{{ id }}" for="mauticform_{{ containerType }}_{{ type }}_{{ id }}" {{ optionLabelAttr }}>{{ listLabel }}</label>

        {% if wrapDiv %}</div>{% endif %}

    {% endfor %}
    {{ block('mautic_form_errors') }}
  </div>
{% endblock %}
