{%- block mautic_form_label_attributes -%}
  {% set labelClassValue = 'mauticform-' ~ defaultLabelClass|default('label') %}

  {% if ignoreId is not defined %}
      id="mauticform_label{{ formName|default('') }}_{{ field.alias }}"
      for="mauticform_input{{ formName|default('') }}_{{ field.alias }}"
  {% endif %}
  {% if inForm is defined and inForm is not empty %}
      class="{{ defaultLabelClass }}"
  {% else %}
      {% if field.labelAttributes %}
          {{ field.labelAttributes|raw }}
      {% endif %}
  {% endif %}
{%- endblock -%}

{%- block mautic_form_label -%}
  {%- if field.showLabel -%}
    <label {{ block('mautic_form_label_attributes') }}>{{ field.label }}</label>
  {%- endif -%}
{%- endblock -%}

{%- block mautic_form_help -%}
  {%- if field.helpMessage is defined and field.helpMessage is not empty -%}
    <span class="mauticform-helpmessage">{{ field.helpMessage }}</span>
  {%- endif -%}
{%- endblock -%}

{%- block mautic_form_widget_attributes -%}
  {% set inputClassValue = 'mauticform-' ~ inputClass|default('input') %}
  {% if ignoreId is not defined %}
      id="mauticform_input{{ formName|default('') }}_{{ field.alias }}"
  {% endif %}

  {% if ignoreName is not defined %}
      name="mauticform[{{ field.alias }}]{% if filed.properties.multiple is defined %}[]{% endif %}"
  {% endif %}

  {% if field.type not in ['checkboxgrp', 'radiogrp', 'textarea'] %}
      {% if field.defaultValue is defined and field.defaultValue is not empty %}
          value="{{ field.defaultValue }}"
      {% else %}
          value=""
      {% endif %}
  {% endif %}

  {% if filed.properties.placeholder is defined and filed.properties.placeholder is not empty %}
      placeholder="{{ filed.properties.placeholder }}"
  {% endif %}

  {% if inForm is defined and inForm is not empty %}
      disabled="disabled"
      {% if field.type in ['button', 'pagebreak'] %}
          {% set inputClassValue = inputClassValue ~ ' btn btn-default' %}
      {% endif %}
      class="{{ inputClassValue }} {{ defaultInputFormClass|default('') }}"
  {% else %}
      {% if field.inputAttributes %}
          {{ field.inputAttributes|raw }}
      {% endif %}
  {% endif %}

{%- endblock -%}

{%- block mautic_form_widget -%}
  {%- if 'textarea' == type|default('text') -%}
    <textarea {{ block('mautic_form_widget_attributes') }}>{{ field.defaultValue }}</textarea>
  {%- else -%}
    <input {{ block('mautic_form_widget_attributes') }} type="{{ type|default('text') }}" />
  {%- endif -%}
{%- endblock -%}

{%- block mautic_form_errors -%}
  <span class="mauticform-errormsg" style="display:none;">
    {%- if field.isRequired is defined and field.isRequired -%}
        {%- if field.validationMessage is empty -%}
            {{- 'mautic.form.field.generic.required'|trans([], 'validators') -}}
        {%- else -%}
            {{- field.validationMessage -}}
        {%- endif -%}
    {%- endif -%}
  </span>
{%- endblock -%}

{%- block mautic_form_container_attributes -%}
  {% set type = type|default('text') %}

  {% set containerClass = 'mauticform-row mauticform-' ~ containerClass|default(type) %}
  id="mauticform{{ formName|default('') }}_{{ id }}"
  {% if field.parent and fields[field.parent] is defined %}
    {% set containerClass = containerClass ~ ' mautic-field-hidden' %}
    {% set values = field.conditions.values|join('|') %}
    {% if field.conditions.any is defined and field.conditions.any is not empty and 'notIn' != field.conditions.expr %}
        {% set values = '*' %}
    {% endif %}
    data-mautic-form-show-on="{{ fields[field.parent].alias }}:{{ values }}"
    data-mautic-form-expr="{{ field.conditions.expr }}"
  {% endif %}
  {% if field.isRequired is defined and field.isRequired %}
      {% set containerClass = containerClass ~ ' mauticform-required' %}
      data-validate="{{ field.alias }}"
      data-validation-type="{{ field.type }}"
      {% if filed.properties.multiple is defined and filed.properties.multiple is not empty %}
        data-validate-multiple="true"
      {% endif %}
  {% elseif required is not defined %}
    {% set containerClass = containerClass ~ ' mauticform-required' %}
  {% endif %}

  {# @TODO need to merge "class" values, create Twig Filter "merge_html_attributes(name, value)" #}
  {{ field.containerAttributes|raw }}
  class="{{ containerClass }}"
{%- endblock -%}

{%- block mautic_form_row -%}
  <div {{ block('mautic_form_container_attributes') }}>
    {{- block('mautic_form_label') -}}
    {{- block('mautic_form_help') -}}
    {{- block('mautic_form_widget') -}}
    {{- block('mautic_form_errors') -}}
  </div>
{%- endblock -%}
