{% extends isEmbedded ? '@MauticCore/Default/raw_output.html.twig' : '@MauticCore/Default/content.html.twig' %}

{% block headerTitle email.name %}

{% block mauticContent 'email' %}

{% set variantContent = include('@MauticCore/Variant/index.html.twig', {
        'activeEntity': email,
        'variants': variants,
        'abTestResults': abTestResults,
        'model': 'email',
        'actionRoute': 'mautic_email_action',
}) %}

{% set showVariants = variantContent is defined and variantContent|trim is not empty %}

{% set translationContent = include('@MauticCore/Translation/index.html.twig',
    {
        'activeEntity'      : email,
        'translations'      : translations,
        'model'             : 'email',
        'actionRoute'       : 'mautic_email_action',
    }
) %}

{% set showTranslations = translationContent|trim is not empty %}
{% set emailType = email.emailType %}

{% if emailType is not defined %}
    {% set emailType = 'template' %}
{% endif %}
{% set customButtons = [] %}

{% if not isEmbedded %}
    {% if 'list' == emailType %}
        {% set sendButton = {
            'attr'      : {
                'data-toggle' : 'ajax',
                'href'        : email.isBackgroundSending() ? 'javascript:void(0);' : path('mautic_email_action', {'objectAction' : 'send', 'objectId' : email.getId()}),
            },
            'iconClass' : 'fa fa-send-o',
            'btnText'   : 'mautic.email.send',
            'primary'   : true,
        } %}
        {% if email.isBackgroundSending() %}
            {% set sendButton = sendButton|merge({'tooltip' : 'mautic.email.send.disabled'}) %}
            {% set sendButton = sendButton|merge({'attr' : {'disabled' : true}}) %}
        {% endif %}

        {% set customButtons = customButtons|merge([sendButton]) %}
    {% endif %}
    {% set sendExampleButton = {
        'attr' : {
            'class'       : 'btn btn-default btn-nospin',
            'data-toggle' : 'ajaxmodal',
            'data-target' : '#MauticSharedModal',
            'href'        : path('mautic_email_action', {'objectAction' : 'sendExample', 'objectId' : email.getId()}),
            'data-header' : 'mautic.email.send.example'|trans,
        },
        'iconClass' : 'fa fa-send',
        'btnText'   : 'mautic.email.send.example',
        'primary'   : true,
    } %}
    {% set customButtons = customButtons|merge([sendExampleButton]) %}
    {% set heatmapButton = {
        'attr' : {
            'class'       : 'btn btn-default btn-nospin',
            'data-toggle' : 'email-heatmap',
            'data-email'  : email.getId(),
            'data-target' : '#MauticSharedModal',
            'href'        : '#',
            'data-header' : 'mautic.email.heatmap.click_heatmap'|trans,
        },
        'iconClass' : 'fa fa-fire',
        'btnText'   : 'mautic.email.heatmap.click_heatmap'
    } %}
    {% set customButtons = customButtons|merge([heatmapButton]) %}
{% endif %}


{# Only show A/B test button if not already a translation of an a/b test #}
{% set allowAbTest = email.isTranslation(true) and translations['parent'].isVariant(true) ? false : true %}

{% block publishStatus %}
  {% if not isEmbedded %}
    {{- include('@MauticCore/Helper/publishstatus_badge.html.twig', {'entity' : email}) -}}
  {% endif %}
{% endblock %}

{% block actions %}
    {% if not isEmbedded %}
        {{- include('@MauticCore/Helper/page_actions.html.twig', {
            'item'            : email,
            'templateButtons' : {
                'edit' : securityHasEntityAccess(
                    permissions['email:emails:editown'],
                    permissions['email:emails:editother'],
                    email.getCreatedBy(),
                ),
                'clone'  : permissions['email:emails:create'],
                'abtest' : (allowAbTest and permissions['email:emails:create']),
                'delete' : securityHasEntityAccess(
                    permissions['email:emails:deleteown'],
                    permissions['email:emails:deleteother'],
                    email.getCreatedBy()
                ),
                'close' : securityHasEntityAccess(
                    permissions['email:emails:viewown'],
                    permissions['email:emails:viewother'],
                    email.getCreatedBy()
                ),
            },
            'routeBase'     : 'email',
            'customButtons' : customButtons,
        }) -}}
    {% endif %}
{% endblock %}


{% block content %}
  <!-- start: box layout -->
  <div class="box-layout">
      <!-- left section -->
      <div class="col-md-9 bg-white height-auto">
          <div class="bg-auto">
              <!-- email detail header -->
              <div class="pr-md pl-md pt-lg pb-lg">
                  <div class="box-layout">
                      <div class="col-xs-10">
                          <div>{{ emoji_to_html(email.subject, 'short') }}</div>
                          {% if email.isVariant(true) %}
                            <div class="small">
                              <a href="{{ path('mautic_email_action', {'objectAction' : 'view', 'objectId' : variants.parent.id}) }}" data-toggle="ajax">
                                {{- 'mautic.core.variant_of'|trans ({'%parent%' : variants.parent.name}) -}}
                              </a>
                            </div>
                          {% endif %}
                          {% if email.isTranslation(true) %}
                            <div class="small">
                              <a href="{{ path('mautic_email_action', {'objectAction' : 'view', 'objectId' : translations.parent.id}) }}" data-toggle="ajax">
                                {{- 'mautic.core.translation_of'|trans({'%parent%' : translations.parent.name}) -}}
                              </a>
                            </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
              <!--/ email detail header -->

              <!-- email detail collapseable -->
              <div class="collapse" id="email-details">
                  <div class="pr-md pl-md pb-md">
                      <div class="panel shd-none mb-0">
                          <table class="table table-bordered table-striped mb-0">
                              <tbody>
                              {{- include('@MauticCore/Helper/details.html.twig', {'entity': email}) -}}
                              <tr>
                                  <td width="20%">
                                      <span class="fw-b">{{ 'mautic.core.form.theme'|trans }}</span>
                                  </td>
                                  <td>{{ email.template }}</td>
                              </tr>
                              {% if email.fromName %}
                                  <tr>
                                      <td width="20%">
                                          <span class="fw-b">{{ 'mautic.email.from_name'|trans }}</span>
                                      </td>
                                      <td>{{ email.fromName }}</td>
                                  </tr>
                              {% endif %}
                              {% if email.fromAddress %}
                                  <tr>
                                      <td width="20%">
                                          <span class="fw-b">{{ 'mautic.email.from_email'|trans }}</span>
                                      </td>
                                      <td>{{ email.fromAddress }}</td>
                                  </tr>
                              {% endif %}
                              {% if email.replyToAddress %}
                                  <tr>
                                      <td width="20%">
                                          <span class="fw-b">{{ 'mautic.email.reply_to_email'|trans }}</span>
                                      </td>
                                      <td>{{ email.replyToAddress }}</td>
                                  </tr>
                              {% endif %}
                              {% if email.bccAddress %}
                                  <tr>
                                      <td width="20%">
                                          <span class="fw-b">{{ 'mautic.email.bcc'|trans }}</span>
                                      </td>
                                      <td>{{ email.bccAddress }}</td>
                                  </tr>
                              {% endif %}
                              {% if email.headers %}
                                  <tr>
                                      <td width="20%">
                                          <span class="fw-b">{{ 'mautic.email.custom_headers'|trans }}</span>
                                      </td>
                                      <td>{{ email.headers|formatter_simple_array_to_html }}</td>
                                  </tr>
                              {% endif %}
                              <tr>
                                  <td width="20%">
                                      <span class="fw-b">{{ 'mautic.email.stat.sent'|trans }}</span>
                                  </td>
                                  <td>{{ email.sentCount }}</td>
                              </tr>
                              <tr>
                                  <td width="20%">
                                      <span class="fw-b">{{ 'mautic.email.stat.delivered'|trans }}</span>
                                  </td>
                                  <td data-email-stat-delivered-for="{{ email.id }}"><div class="spinner"><i class="fa fa-spin fa-spinner"></i></div></td>
                              </tr>
                              <tr>
                                  <td width="20%">
                                      <span class="fw-b">{{ 'mautic.email.stat.read'|trans }}</span>
                                  </td>
                                  <td>{{ email.readCount }}</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <!--/ email detail collapseable -->
          </div>

          <div class="bg-auto bg-dark-xs">
              <!-- email detail collapseable toggler -->
              <div class="hr-expand nm">
                <span data-toggle="tooltip" title="{{ 'mautic.core.details'|trans }}">
                    <a href="javascript:void(0)" class="arrow text-muted collapsed" data-toggle="collapse" data-target="#email-details">
                      <span class="caret"></span> {{ 'mautic.core.details'|trans }}
                    </a>
                </span>
              </div>
              <!--/ email detail collapseable toggler -->

              {% set isVariant = showTranslations or showVariants ?: 0 %}
              {% set dateFrom = dateRangeForm.children['date_from'].vars['data'] %}
              {% set dateTo = dateRangeForm.children['date_to'].vars['data'] %}

              <div id="emailGraphStats"
                   data-graph-url="{{ path('mautic_email_graph_stats', {'objectId' : email.id, 'isVariant' : isVariant, 'dateFrom' : dateFrom|date('Y-m-d'), 'dateTo' : dateTo|date('Y-m-d')}) }}">
                  <div class="spinner">
                      <i class="fa fa-spin fa-spinner"></i>
                  </div>
              </div>

              {{ customContent('details.stats.graph.below', mauticTemplateVars|default([])) }}

              <!-- tabs controls -->
              <ul class="nav nav-tabs pr-md pl-md">
                  <li class="active">
                      <a href="#clicks-container" role="tab" data-toggle="tab">
                          {{ 'mautic.trackable.click_counts'|trans }}
                      </a>
                  </li>
                  <li>
                      <a href="#contacts-container" role="tab" data-toggle="tab">
                          {{ 'mautic.email.associated.contacts'|trans }}
                      </a>
                  </li>
                  {% if showVariants %}
                      <li>
                          <a href="#variants-container" role="tab" data-toggle="tab">
                              {{ 'mautic.core.variants'|trans }}
                          </a>
                      </li>
                  {% endif %}
                  {% if showTranslations %}
                      <li>
                          <a href="#translation-container" role="tab" data-toggle="tab">
                              {{ 'mautic.core.translations'|trans }}
                          </a>
                      </li>
                  {% endif %}
              </ul>
              <!--/ tabs controls -->
          </div>

          <!-- start: tab-content -->
          <div class="tab-content pa-md">
              <div class="tab-pane active bdr-w-0" id="clicks-container">
                  {{- include('@MauticPage/Trackable/click_counts.html.twig', {
                      'trackables'  : trackables,
                      'entity'      : email,
                      'channel'     : 'email',
                  }) -}}
              </div>

              <div class="tab-pane bdr-w-0 page-list" id="contacts-container">
                  {{ contacts | raw }}
              </div>

              {% if showVariants %}
                  <!-- #variants-container -->
                  <div class="tab-pane bdr-w-0" id="variants-container">
                      {{ variantContent|raw }}
                  </div>
                  <!--/ #variants-container -->
              {% endif %}

              <!-- #translation-container -->
              {% if showTranslations %}
                  <div class="tab-pane bdr-w-0" id="translation-container">
                      {{ translationContent|raw }}
                  </div>
              {% endif %}
              <!--/ #translation-container -->
          </div>
      </div>
      <!--/ left section -->

      <!-- right section -->
      <div class="col-md-3 bg-white bdr-l height-auto">
          <!-- preview URL -->
          <div class="panel bg-transparent shd-none bdr-rds-0 bdr-w-0 mt-sm mb-0">
              <div class="panel-heading">
                  <div class="panel-title">{{ 'mautic.email.preview.url'|trans }}</div>
              </div>
              <div class="panel-body pt-xs">
                  <div class="input-group">
                      <div class="input-group-addon">
                          {{- include('@MauticCore/Helper/publishstatus_icon.html.twig', {
                              'item'  : email,
                              'model' : 'email',
                              'query' : 'customToggle=publicPreview'
                          }) -}}
                      </div>
                      <input onclick="this.setSelectionRange(0, this.value.length);" type="text" class="form-control" readonly value="{{ previewUrl|escape }}"/>
                      <span class="input-group-btn">
                      <button class="btn btn-default btn-nospin" onclick="window.open('{{ previewUrl }}', '_blank');">
                          <i class="fa fa-external-link"></i>
                      </button>
                  </span>
                  </div>
              </div>
          </div>

          <!-- activity feed -->
          {{- include('@MauticCore/Helper/recentactivity.html.twig', {'logs': logs}) -}}
      </div>
      <!--/ right section -->
      <input name="entityId" id="entityId" type="hidden" value="{{ email.id|escape }}"/>
  </div>
{% endblock %}
