<hr>
{% set initData = results.read.data|default([]) %}
{% set legendText = "Total: %s (%s with country)" %}
{{ results|json_encode }}
<hr>
<div class="map-options">
    <h5 class="map-options__title text-white dark-md fw-sb mb-xs">Choose stats:</h5>
    <div class="map-options__container btn-group btn-block" data-toggle="buttons">
        <label class="map-options__item active btn btn-default"
               data-map-option="read"
               data-map-series="{{ results.read.data|json_encode }}"
               data-legend-text="{{ legendText|format(results.read.total|default(0), results.read.totalWithCountry|default(0)) }}"
        >
            <input type="radio"
                   name="map-stats"
                   id="read"
                   autocomplete="off"
                   checked
            >
            {{ 'mautic.email.stat.read'|trans }}
        </label>
        <label class="map-options__item btn btn-default"
               data-map-option="clicked"
               data-map-series="{{ results.clicked.data|json_encode }}"
               data-legend-text="{{ legendText|format(results.clicked.total|default(0), results.clicked.totalWithCountry|default(0)) }}"
        >
            <input type="radio"
                   name="map-stats"
                   id="clicked"
                   autocomplete="off"
            >
            {{ 'mautic.email.clicked'|trans }}
        </label>
    </div>
</div>
{{- include('@MauticCore/Helper/map.html.twig', {
        'data' : initData,
        'height' : 400
})
-}}


