<hr>
{% set initData = results.read.data|default([])  %}
{{ results|json_encode }}
<hr>
<fieldset class="map-options">
    <legend class="map-options__title">Choose stats:</legend>
    <div class="map-options__container">
        <div class="map-options__item active" data-map-data="{{ results.read|json_encode }}" data-map-option="read">
            <label>
                <input type="radio" id="reads" name="map-stats" checked>
                {{ 'mautic.email.stat.read'|trans }}
            </label>
        </div>
        <div class="map-options__item" data-map-data="{{ results.clicked|json_encode }}" data-map-option="clicked">
            <label>
                <input type="radio" id="clicks" name="map-stats">
                {{ 'mautic.email.clicked'|trans }}
            </label>
        </div>
    </div>
</fieldset>

<div>
    {{- include('@MauticCore/Helper/map.html.twig', {
        'data' : initData,
        'chartHeight' : 300
    })
    -}}
</div>

{% if initData %}
    <div class="map-legend">
        <span>Total: {{ results.read.total|default('') }}</span>
        <span>({{ results.read.totalWithCountry }} with country)</span>
    </div>
{% endif %}
