{% block _campaignevent_properties_row %}
<div class="row condition-row">
    <div class="col-xs-4">
        {{ form_row(form.field) }}
    </div>
    <div class="col-xs-4">
        {{ form_row(form.operator) }}
    </div>
    <div class="col-xs-4">
        {{ form_row(form.value) }}
    </div>
</div>

<div class="row condition-custom-date-row" style="display: none;">
    <div class="col-sm-offset-4 col-sm-4">
        <div class="row">
            <div class="form-group col-xs-12 ">
                <div class="input-group">
                    <span class="input-group-addon preaddon">
                        <i class="symbol-hashtag"></i>
                    </span>
                    <input autocomplete="false" type="number" id="lead-field-custom-date-interval" class="form-control" value="1" onchange="Mautic.updateLeadFieldValueOptions(mQuery('#campaignevent_properties_value'), true)">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="form-group col-xs-12 ">
                <select id="lead-field-custom-date-unit" class="form-control chosen" autocomplete="false" onchange="Mautic.updateLeadFieldValueOptions(mQuery('#campaignevent_properties_value'), true)">
                    {% for interval in ['i', 'h', 'd', 'm', 'y'] %}
                      <option {% if 'd' == interval %}selected{% endif %} value="{{ interval }}">
                          {{- ('mautic.campaign.event.intervalunit.choice.' ~ interval)|trans -}}
                      </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
{% endblock %}
