<div
  class="modal fade"
  id="keyboardShortcutsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="keyboardShortcutsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'mautic.core.close' | trans }}">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="keyboardShortcutsModalLabel">
          {{ "mautic.core.keyboard.shortcuts" | trans }}
        </h4>
      </div>
      <div class="modal-body row">
        <div class="col-md-12">
          {% set shortcuts = { 'navigation': { '⇧+d':
          'mautic.core.keyboard.load_dashboard', '⇧+c':
          'mautic.core.keyboard.load_contacts', '⇧+right':
          'mautic.core.keyboard.activate_right_menu', '⇧+n':
          'mautic.core.keyboard.show_notifications', '⇧+s':
          'mautic.core.keyboard.global_search' }, 'actions': { 'mod+z':
          'mautic.core.keyboard.undo_change', 'mod+⇧+z':
          'mautic.core.keyboard.redo_change' } } %}
          <h4 class="fw-sb mb-md">
            {{ "mautic.core.keyboard.section.global" | trans }}
          </h4>
          {% for section, shortcut_list in shortcuts %}
          <h5 class="mb-sm fw-sb">
            {{ ('mautic.core.keyboard.section.' ~ section)|trans }}
          </h5>
          {% for key, description in shortcut_list %}
          <div class="row mb-xs">
            <div class="col-md-8">
              {{ description | trans }}
            </div>
            <div class="col-md-4 text-right">
              <div>
                {% set keys = key|split('+') %} {% for k in keys %}
                <kbd>{{ k }}</kbd>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
          <hr />
          {% endfor %} {% set shortcuts = { 'contacts': { 'a':
          'mautic.core.keyboard.quick_add_contact', 't':
          'mautic.core.keyboard.activate_table_view', 'c':
          'mautic.core.keyboard.activate_card_view', } } %} {% for section,
          shortcut_list in shortcuts %}
          <h4 class="mb-sm fw-sb">
            {{ ('mautic.core.keyboard.section.' ~ section)|trans }}
          </h4>
          {% for key, description in shortcut_list %}
          <div class="row mb-xs">
            <div class="col-md-8">
              {{ description | trans }}
            </div>
            <div class="col-md-4 text-right">
              <div>
                {% set keys = key|split('+') %} {% for k in keys %}
                <kbd>{{ k }}</kbd>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
          <hr />
          {% endfor %}
        </div>
        <div class="modal-footer">
          <p>
            {{ 'mautic.core.keyboard.press_to_view'|trans({'%shift%':
            '<kbd>⇧</kbd>', '%question%': '<kbd>?</kbd>'})|raw }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
