<!DOCTYPE html>
<html>
    {{ include('@MauticCore/Default/head.html.twig', {
            headerTitle: block('headerTitle') is defined ? block('headerTitle') : headerTitle|default(''),
            pageTitle: block('pageTitle') is defined ? block('pageTitle') : 'Mautic',
        })
    }}
    <body>
        {{ outputScripts('bodyOpen') }}

        <section id="app-content" class="container content-only">
            {{ include('@MauticCore/Notification/flashes.html.twig', {
                alertType: 'standard'
            }) }}

            {% block _content %}
                {{ include('@MauticCore/Default/output.html.twig', {
                    headerTitle: block('headerTitle') is defined ? block('headerTitle') : headerTitle|default(''),
                    publishStatus: block('publishStatus') is defined ? block('publishStatus') : publishStatus|default(''),
                    actions: block('actions') is defined ? block('actions') : actions|default(''),
                    toolbar: block('toolbar') is defined ? block('toolbar') : toolbar|default(''),
                }) }}
            {% endblock %}
        </section>
        {{ include('@MauticCore/Helper/modal.html.twig', {
            id: 'MauticSharedModal',
            footerButtons: true
        }) }}
        {{ outputScripts('bodyClose') }}
        <script>
            Mautic.onPageLoad('body');
        </script>
    </body>
</html>
