{% set isIndex = tmpl == 'index' ? true : false %}
{% set tmpl = 'list' %}

{% extends isIndex ? 'MauticCoreBundle:Default:content.html.twig' : 'MauticCoreBundle:Default:raw_output.html.twig' %}
{% block mauticContent %}dynamicContent{% endblock %}
{% block headerTitle %}
    {% trans %}mautic.dynamicContent.dynamicContents{% endtrans %}
{% endblock %}

{% block actions %}
    {{- include(
        'MauticCoreBundle:Helper:page_actions.html.twig',
        {
            templateButtons: {
            new: permissions['dynamiccontent:dynamiccontents:create'],
        },
            routeBase: 'dynamicContent',
        }) }}
{% endblock %}

{% block content %}
    {% if isIndex %}
        {{- include('MauticCoreBundle:Helper:list_toolbar.html.twig', {
            searchValue: searchValue,
            searchHelp: 'mautic.page.help.searchcommands',
            action: currentRoute
        })
        }}
        <div class="page-list">
            {{ block('listResults') }}
        </div>
    {% else %}
        {{ block('listResults') }}
    {% endif %}
{% endblock %}

{% block listResults %}
    {% if items|length > 0 %}
        <div class="table-responsive page-list">
            <table class="table table-hover table-striped table-bordered dwctable-list" id="dwcTable">
                <thead>
                <tr>
                    {{- include(
                        'MauticCoreBundle:Helper:tableheader.html.twig',
                        {
                            checkall: true,
                            target:  '#dwcTable',
                            routeBase: 'dynamicContent',
                            templateButtons: {
                            delete: securityHasEntityAccess(
                                permissions['dynamiccontent:dynamiccontents:deleteown'],
                                permissions['dynamiccontent:dynamiccontents:deleteother'],
                                'test',
                            ),
                        },
                        }) }}

                    {{- include(
                        'MauticCoreBundle:Helper:tableheader.html.twig',
                        {
                            sessionVar: 'dynamicContent',
                            orderBy: 'e.name',
                            text: 'mautic.core.name',
                            class: 'col-dwc-name',
                            default: true,
                        }) }}

                    {{- include(
                        'MauticCoreBundle:Helper:tableheader.html.twig',
                        {
                            sessionVar: 'dynamicContent',
                            orderBy: 'e.slotName',
                            text: 'mautic.dynamicContent.label.slot_name',
                            class: 'col-dwc-slotname visible-md visible-lg',
                        }) }}

                    {{- include(
                        'MauticCoreBundle:Helper:tableheader.html.twig',
                        {
                            sessionVar: 'dynamicContent',
                            orderBy: 'c.title',
                            text: 'mautic.core.category',
                            class: 'col-dwc-category visible-md visible-lg',
                        }) }}

                    {{- include(
                        'MauticCoreBundle:Helper:tableheader.html.twig',
                        {
                            sessionVar: 'dynamicContent',
                            orderBy: 'e.id',
                            text: 'mautic.core.id',
                            class: 'col-dwc-id visible-md visible-lg',
                        }) }}
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            {{- include(
                                'MauticCoreBundle:Helper:list_actions.html.twig',
                                {
                                    item: item,
                                    templateButtons: {
                                    edit: securityHasEntityAccess(
                                        permissions['dynamiccontent:dynamiccontents:editown'],
                                        permissions['dynamiccontent:dynamiccontents:editother'],
                                        item.getCreatedBy()
                                    ),
                                    clone: permissions['dynamiccontent:dynamiccontents:create'],
                                    delete: securityHasEntityAccess(
                                        permissions['dynamiccontent:dynamiccontents:deleteown'],
                                        permissions['dynamiccontent:dynamiccontents:deleteother'],
                                        item.getCreatedBy()
                                    ),
                                },
                                    routeBase: 'dynamicContent',
                                    nameGetter: 'getName',
                                }) }}
                        </td>
                        <td>
                            {{- include(
                                'MauticCoreBundle:Helper:publishstatus_icon.html.twig',
                                {
                                    item: item, model: 'dynamicContent'
                                }) }}

                            <a href="{{ url(
                                'mautic_dynamicContent_action',
                                {objectAction: 'view', objectId: item.getId()}
                            ) }}" data-toggle="ajax">
                                {{ item.getName() }}
                                {% set hasVariants     = item.isVariant() %}
                                {% set hasTranslations = item.isTranslation() %}
                                {% set isFilterBased   = item.getIsCampaignBased()|default(true) %}

                                {% if (hasVariants or hasTranslations or isFilterBased) %}
                                    <span>
                                {% if (hasVariants) %}
                                    <span data-toggle="tooltip"
                                          title="{% trans %}mautic.core.icon_tooltip.ab_test{% endtrans %}">
                                            <i class="fa fa-fw fa-sitemap"></i>
                                        </span>
                                {% endif %}
                                        {% if (hasTranslations) %}
                                            <span data-toggle="tooltip"
                                                  title="{% trans %}mautic.core.icon_tooltip.translation{% endtrans %}">
                                        <i class="fa fa-fw fa-language"></i>
                                    </span>
                                        {% endif %}
                                 </span>
                                {% endif %}
                            </a>
                        </td>
                        <td class="visible-md visible-lg">{{ item.getSlotName() }}</td>
                        <td class="visible-md visible-lg">
                            {% set category = item.getCategory() %}
                            {% set catName = category ? category.getTitle() : 'Emtpy category' %}
                            {% set color = category ? '#' ~ category.getColor() : 'inherit' %}
                            <span style="white-space: nowrap;"><span class="label label-default pa-4"
                                                                     style="border: 1px solid #d5d5d5; background: {{ color }};"> </span> <span>{{ catName }}</span></span>
                        </td>
                        <td class="visible-md visible-lg">{{ item.getId() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="panel-footer">
                {{- include(
                    'MauticCoreBundle:Helper:pagination.html.twig',
                    {
                        totalItems: items|length,
                        page: page,
                        limit: limit,
                        menuLinkId: 'mautic_dynamicContent_index',
                        baseUrl: url('mautic_dynamicContent_index'),
                        sessionVar: 'dynamicContent',
                    }) }}
            </div>
        </div>
    {% else %}
        {{- include('MauticCoreBundle:Helper:noresults.html.twig') }}
    {% endif %}
{% endblock %}