<li class="dropdown dropdown-custom" id="notificationsDropdown">
    <a href="javascript: void(0);" onclick="Mautic.showNotifications();" class="dropdown-toggle dropdown-notification" data-toggle="dropdown">
        {% set hideClass = updateMessage.isNew or showNewIndicator ? '' : ' hide' %}
        <span class="label label-danger{{ hideClass }}" id="newNotificationIndicator"><i class="fa fa-asterisk"></i></span>
        <span class="fa fa-bell fs-16"></span>
    </a>
    <div class="dropdown-menu">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h6 class="fw-sb">{% trans %}mautic.core.notifications{% endtrans %}
                        <a href="javascript:void(0);" class="btn btn-default btn-xs btn-nospin pull-right text-danger" data-toggle="tooltip" title="{% trans %}mautic.core.notifications.clearall{% endtrans %}" onclick="Mautic.clearNotification(0);"><i class="fa fa-times"></i></a>
                    </h6>
                </div>
            </div>
            <div class="pt-0 pb-xs pl-0 pr-0">
                <div class="scroll-content slimscroll" style="height:250px;" id="notifications">
                    {{ include('MauticCoreBundle:Notification:notification_messages.html.twig', {
                        notifications: notifications,
                        updateMessage: updateMessage
                    }) }}
                    {% set class = notifications is not empty ? ' hide' : '' %}
                    <div style="width: 100px; margin: 75px auto 0 auto;" class="{{ class }} mautibot-image" id="notificationMautibot">
                        <img class="img img-responsive" src="{{ mautibotGetImage('wave') }}" />
                    </div>
                </div>
            </div>
            {% set lastNotification = notifications|first %}
            <input id="mauticLastNotificationId" type="hidden" value="{{ lastNotification.id is defined ? lastNotification.id|escape : '' }}" />
        </div>
    </div>
</li>
