{% extends '@MauticCore/Default/content.html.twig' %}
{% block mauticContent %}user{% endblock %}
{% set userId = form.vars.data.getId() %}
{% if userId is not empty %}
    {% set user = form.vars.data.getName() %}
    {% set header = 'mautic.user.user.header.edit'|trans({'%name%': user}) %}
{% else %}
    {% set header = 'mautic.user.user.header.new'|trans %}
{% endif %}

{% block headerTitle %}{{ header }}{% endblock %}


{% block content %}

<!-- start: box layout -->
<div class="box-layout">
    <!-- container -->
	{{ form_start(form) }}
    <div class="col-md-9 bg-auto height-auto bdr-r">
		<div class="pa-md">
			<div class="form-group mb-0">
			    <div class="row">
                    <div class="col-sm-6{{ form.firstName.vars.errors|length ? ' has-error' : '' }}">
                    	<label class="control-label mb-xs">{{ form_label(form.firstName) }}</label>
                        {{ form_widget(form.firstName, {'attr' : {'placeholder' : form.firstName.vars.label }}) }}
                        {{ form_errors(form.firstName) }}
			        </div>
                    <div class="col-sm-6{{ form.lastName.vars.errors|length ? ' has-error' : '' }}">
                        <label class="control-label mb-xs">{{ form_label(form.lastName) }}</label>
                        {{ form_widget(form.lastName, {'attr' : {'placeholder' : form.lastName.vars.label }}) }}
                        {{ form_errors(form.lastName) }}
				</div>
			</div>
			</div>
			<hr class="mnr-md mnl-md">

			<div class="form-group mb-0">
			<div class="row">
				<div class="col-sm-6{{ form.role.vars.errors|length ? ' has-error' : '' }}">
					<label class="control-label mb-xs">{{ form_label(form.role) }}</label>
                        {{ form_widget(form.role, {'attr' : {'placeholder' : form.role.vars.label }}) }}
                        {{ form_errors(form.role) }}
				</div>
				<div class="col-sm-6{{ form.position.vars.errors|length ? ' has-error' : '' }}">
					<label class="control-label mb-xs">{{ form_label(form.position) }}</label>
                        {{ form_widget(form.position, {'attr' : {'placeholder' : form.position.vars.label }}) }}
                        {{ form_errors(form.position) }}
				</div>
			</div>
			</div>
			<hr class="mnr-md mnl-md">

            <div class="form-group mb-0">
                <div class="row">
                    <div class="col-sm-6{{ form.signature.vars.errors|length ? ' has-error' : '' }}">
                        <label class="control-label mb-xs">{{ form_label(form.signature) }}</label>
                        {{ form_widget(form.signature, {'attr' : {'placeholder' : form.signature.vars.label }}) }}
                        {{ form_errors(form.signature) }}
                    </div>
                </div>
            </div>
            <hr class="mnr-md mnl-md">

			<div class="panel panel-default form-group mb-0">
				<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group{{ form.username.vars.errors|length ? ' has-error' : '' }}">
							{{ form_label(form.username) }}
						{{ form_widget(form.username, {'attr' : {'placeholder' : form.username.vars.label }}) }}
						{{ form_errors(form.username) }}
						</div>
							<div class="form-group{{ form.email.vars.errors|length ? ' has-error' : '' }}">
							{{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr' : {'placeholder' : form.email.vars.label }}) }}
                        {{ form_errors(form.email) }}
						</div>
					</div>
					<div class="col-sm-6">
						{{ form_widget(form.plainPassword, {'attr' : {'placeholder' : form.plainPassword.vars.label }}) }}
					</div>
				</div>
				</div>
			</div>
			<hr class="mnr-md mnl-md">

		</div>
	</div>
<div class="col-md-3 bg-white height-auto">
		<div class="pr-lg pl-lg pt-md pb-md">
            {{ form_rest(form) }}
		</div>
	</div>

	<!-- Recent activity block(audit_log table) -->
	<div class="col-md-3 bg-white height-auto">
        {{ customContent('right.section.top', mauticTemplateVars is defined ? mauticTemplateVars : {}) }}
			<div class="panel bg-white shd-none bdr-rds-0 bdr-w-0 mb-0">
		<div class="panel-heading">
			<div class="panel-title">{% trans %}mautic.core.recent.activity{% endtrans %}</div>
		</div>
		<div class="panel-body pt-xs">
			{% if logs is defined and logs is not empty %}
			<ul class="media-list media-list-feed">
				{% for log in logs %}
				<li class="media">
					<div class="media-object pull-left">
					{% if log.action == 'login' %}
						<span class="figure featured bg-success"><span class="fa fa-check"></span></span>
					{% elseif log.action == 'update' %}
						<span class="figure"></span>
					{% else %}
						<span class="figure"></span>
					{% endif %}
					</div>
					<div class="media-body">

						{% if log.object == 'user' %}
							{% if log.action == 'update' %}
								{{ 'mautic.user.user.form.update_user_status'|trans }}
							{% endif %}

						{% elseif log.object == 'security' %}
							{% if log.action == 'login' %}
								{{ 'mautic.user.user.form.login_by'|trans }}

							{% elseif log.action == 'update' %}
								{{ 'mautic.user.user.form.updated_by'|trans }}

							{% elseif log.action == 'create' %}
								{% set objects = {} %}
								{% for key, value in log.details %}
									{% set objects = objects|merge({(key): value}) %}
								{% endfor %}
								{% if objects|length > 0 %}
									{% if log.object == 'role' %}
										{{ 'mautic.user.role'|trans }}
										{% for item in objects.name %}
											{{ item }}
										{% endfor %}
										{{ 'mautic.user.user.form.was_created_by'|trans }}
									{% elseif log.object == 'user' %}
										{{ 'mautic.user.user.form.user'|trans }}
										{% for item in objects.username %}
											{{ item }}
										{% endfor %}
										{{ 'mautic.user.user.form.was_created_by'|trans }}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endif %}




						{% if log.userId is defined and log.userId is not empty %}
							<a
								href="{{ path('mautic_user_action', {objectAction: 'edit', objectId: log.userId}) }}"
								data-toggle="ajax"
							>{{ log.userName }}</a>
						{% else %}
							{{ log.userName }}
						{% endif %}
						<p class="fs-12 dark-sm"><small> {{ dateToFull(log.dateAdded) }}</small></p>
					</div>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		<!-- Recent activity block(audit_log table) -->

	</div>
			{{ customContent('right.section.bottom', mauticTemplateVars is defined ? mauticTemplateVars : {}) }}
		</div>

    {{ form_end(form) }}
</div>

{% endblock %}
