<div class="row">
	<div class="col-xs-12 mt-lg">
		<h3 class="pi-md mb-md">{{'mautic.core.recent.activity'|trans}}</h3>
		<table class="table">
			<thead>
				<tr>
					<td class="fw-b">{{'mautic.user.account.activity'|trans}}</td>
					<td class="fw-b">{{'mautic.user.account.details'|trans}}</td>
				</tr>
			</thead>
			<tbody>
				{% if logs is defined and logs is not empty %}
				{% for log in logs %}
				<tr>
					<td>
						<div class="d-flex fd-column">
							<!-- First line: username – translated object and action -->
							<strong class="mb-xs">
								{% set username = log.userName is defined ? log.userName : 'Unknown User' %}
								{{ username }}
							</strong>
							<!-- Second line: humanized description based on context -->
							{% set object_name = (log.details is defined and log.details['name'] is defined and
							log.details['name'][1] is defined) ? log.details['name'][1] : '' %}

							{% if log.action == 'create' %}
							{% if object_name != '' %}
							{{ 'mautic.user.account.log.create'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans, '%%object_name%%': object_name}) }}
							{% else %}
							{{ 'mautic.user.account.log.create.no_name'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans}) }}
							{% endif %}

							{% elseif log.action == 'update' %}
							{% if object_name != '' %}
							{{ 'mautic.user.account.log.update'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans, '%%object_name%%': object_name}) }}
							{% else %}
							{{ 'mautic.user.account.log.update.no_name'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans}) }}
							{% endif %}

							{% elseif log.action == 'delete' %}
							{% if object_name != '' %}
							{{ 'mautic.user.account.log.delete'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans, '%%object_name%%': object_name}) }}
							{% else %}
							{{ 'mautic.user.account.log.delete.no_name'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans}) }}
							{% endif %}

							{% elseif log.action == 'send' %}
							{% set subject = (log.details is defined and log.details['subject'] is defined) ? log.details['subject'] : '' %}
							{{ 'mautic.user.account.log.send'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans, '%%object_name%%': subject}) }}

							{% elseif log.action == 'login' %}
							{{ 'mautic.user.account.log.login'|trans }}

							{% elseif log.action == 'logout' %}
							{{ 'mautic.user.account.log.logout'|trans }}

							{% elseif log.action == 'failed_login' %}
							{{ 'mautic.user.account.log.failed_login'|trans }}

							{% elseif log.action == 'publish' %}
							{{ 'mautic.user.account.log.publish'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans, '%%object_name%%': object_name}) }}

							{% elseif log.action == 'unpublish' %}
							{{ 'mautic.user.account.log.unpublish'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans,
							'%%object_name%%': object_name}) }}

							{% elseif log.action == 'start' %}
							{{ 'mautic.user.account.log.start'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans, '%%object_name%%': object_name}) }}

							{% elseif log.action == 'submit' %}
							{{ 'mautic.user.account.log.submit'|trans({'%%object%%': ('mautic.object.' ~ log.object)|trans, '%%object_name%%': object_name}) }}

							{% endif %}
							<br>
						</div>
					</td>
					<td>
						<!-- Third line: formatted date -->
						<small class="text-muted d-flex fd-column">
							<span>{{ log.dateAdded is defined ? dateToFull(log.dateAdded) : '' }}</span>
							<span>{{ log.ipAddress is defined ? log.ipAddress : '' }}</span>
							<span>{{ log.object is defined ? log.object : '' }}.{{ log.action is defined ? log.action : '' }}</span>
						</small>
					</td>
				</tr>
				{% endfor %}
				{% else %}
				<tr>
					<td>{{ 'mautic.core.no.log.available'|trans }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
