{% if 'index' == tmpl %}
    {% extends 'MauticReportBundle:Report:details.html.twig' %}
{% endif %}
{% block content %}
{{ parent() }}

{% set showGraphsAboveTable = report.getSettings.showGraphsAboveTable is defined and report.getSettings.showGraphsAboveTable is not empty %}
{% set dataCount = data|length %}
{% set columnOrder = report.getColumns() %}
{% set graphOrder = report.getGraphs() %}
{% set aggregatorOrder = report.getAggregators() %}
{% set aggregatorCount = aggregatorOrder|length %}
{% set groupBy = report.getGroupBy() %}
{% set groupByCount = groupBy|length %}
{% set startCount = totalResults > limit ? reportPage * limit - limit + 1 : 1 %}

{% if showGraphsAboveTable is not empty %}{{ include(
    'MauticReportBundle:Report:details_data_graphs.html.twig',
    {
        'graphOrder': graphOrder,
        'graphs': graphs,
        'report': report,
    }) }}{% endif %}

{% if columnOrder is not empty or aggregatorOrder is not empty %}
    <!-- table section -->
    <div class="col-xs-12">
        <div class="panel panel-default bdr-t-wdh-0 mb-0">
            <div class="page-list">
                <div class="table-responsive table-responsive-force">
                    <table class="table table-hover table-striped table-bordered report-list" id="reportTable">
                        <thead>
                            <tr>
                                <th class="col-report-count"></th>

                                {% for key in columnOrder %}
                                    {% if columns[key] is defined %}
                                        
                                        {% set orderBy = columns[key]['alias'] ?? (key in 'channel.') ? key|replace({'.': '_'}) : key %}
                                        {{
                                            include('MauticCoreBundle:Helper:tableheader.html.twig', 
                                            {
                                                'sessionVar': 'report.' ~ report.getId(),
                                                'orderBy': orderBy,
                                                'text': columns[key]['label'],
                                                'class': 'col-report-' ~ columns[key]['type'],
                                                'dataToggle': columns[key]['type'] in ['date', 'datetime'] ? 'date' : '',
                                                'target': '.report-content',
                                            })
                                        }}
                                    {% else %}
                                        {{ columnOrder|unset(key) }}
                                    {% endif %}
                                {% endfor %}
                    
                                {% if aggregatorCount %}
                                    {% set index = 0 %}
                                    {% for aggregator in aggregatorOrder %}
                                       
                                        {% set columnName = columns[aggregator['column']]['alias'] is defined ? columns[aggregator['column']]['label'] : '' %}
                                        {{ include('MauticCoreBundle:Helper:tableheader.html.twig', {
                                            'sessionVar': 'report.' ~ report.getId(),
                                            'text': aggregator['function'] ~ ' ' ~ columnName,
                                            'orderBy': '`' ~ aggregator['function'] ~ ' ' ~ aggregator['column'] ~ '`',
                                            'dataToggle': '',
                                            'target': '.report-content',
                                            })
                                        }}
                                
                                        {% set total = total|merge({index: 0}) %}
                                        {% set index = index + 1 %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if dataCount %}
                                {% set avgCounter = 0 %}
                                {% for row in data %}
                                    <tr>
                                        <td>{{ startCount }}</td>
                                        {% for key in columnOrder %}
                                            {% if columns[key] is defined %}
                                                <td>
                                                    {% set closeLink = false %}
                                                    {% if columns[key]['link'] is defined and row[columns[key]['alias']] is not empty %}
                                                        {% set closeLink = true %}
                                                        <a href="{{ path(columns[key]['link'], {'objectAction': 'view', 'objectId': row[columns[key]['alias']]}) }}" class="label label-success">
                                                    {% endif %}
                                                        
                                                    {% set cellType = columns[key]['type'] %}
                                                    {% set cellVal  = row[columns[key]['alias']] %}

                                                        
                                                    {% if 'datetime' == cellType and 10 == cellVal|length %}
                                                        $cellType = 'date';
                                                    {% endif %}
                                    
                                                    {% if cellType == 'datetime' %}
                                                            echo $view['date']->toFullConcat($cellVal, 'UTC');
                                                    {% elseif cellType == 'date' %}
                                                            echo $view['date']->toShort($cellVal, 'UTC');
                                                    {% else %}
                                                            echo $view['formatter']->_($cellVal, $cellType);
                                                    {% endif %}
                                                      
                                                    {% if closeLink %}</a>{% endif %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if aggregatorCount %}
                                            {% set index = 0 %}
                                            {% set avgCounter = avgCounter + 1%}
                                            {% for aggregator in aggregatorOrder %}
                                                <td>
                                                    {% if row[aggregator['function'] ~ ' ' ~ aggregator['column']] is defined %}
                                                        {# echo $view['formatter']->_($row[$aggregator['function'] . ' ' . $aggregator['column']], 'text'); #}
                                                        {% set totalTemp = total[index]|getTotal(row[aggregator['function'] ~ ' ' ~ aggregator['column']], aggregator['function'], total[index] is defined ? total[index] : 0, dataCount, avgCounter) %}
                                                        {% set total = total|merge({index: totalTemp }) %}
                                                    {% endif %}
                                                </td>
                                                {% set index = index + 1 %}
                                            {% endfor %}
                                        {% endif %}

                                    </tr>
                                    {% set startCount = startCount + 1 %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>{{ '&nbsp;'|raw }}</td>
                                    {% for key in columnOrder %}
                                        <td>&nbsp;</td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                            <tr class="cm-strong">
                                <td>{{ 'mautic.report.report.groupby.totals'|trans }}</td>
                                
                                {% set index = 0 %}
                                {% for key in columnOrder %}
                                    <td>&nbsp;</td>
                                {% endfor %}
                                {% if aggregatorCount %}
                                    {% for aggregator in aggregatorOrder %}
                                        <td>
                                            {% if total[index] is defined %}
                                                echo $view['formatter']->_($total[$index], 'text');
                                            {% endif %}

                                        </td>
                                        {% set index = index + 1 %}
                                    {% endfor %}
                                {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    {{ include(
                        'MauticCoreBundle:Helper:pagination.html.twig', 
                        {
                            'totalItems': totalResults,
                            'page': reportPage,
                            'limit': limit,
                            'baseUrl': path('mautic_report_view', {
                                'objectId': report.getId(),
                            }),
                            'sessionVar': 'report.' ~ report.getId(),
                            'target': '.report-content',
                        })
                    }}
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if showGraphsAboveTable is empty %}{{ include(
    'MauticReportBundle:Report:details_data_graphs.html.twig',
    {
        'graphOrder': graphOrder,
        'graphs': graphs,
        'report': report,
    }) }}{% endif %}

<script>
    mQuery(document).ready(function() {
        mQuery('.datetimepicker').datetimepicker({
            format: 'Y-m-d H:i:s',
            closeOnDateSelect: true,
            validateOnBlur: false,
            scrollMonth: false,
            scrollInput: false
        });
    });
    mQuery(document).ready(function() {
        mQuery('.datepicker').datetimepicker({
            format: 'Y-m-d',
            closeOnDateSelect: true,
            validateOnBlur: false,
            scrollMonth: false,
            scrollInput: false
        });
    });
</script>
{% endblock %}