<!DOCTYPE html>
<html>
<head>
    {% if includeAssets %}
    {{ include("@bundles/CoreBundle/Assets/js/libraries/filemanager/assets_css.html.twig") }}
    {% endif %}
</head>
<body>
{% if includeAssets %}
    {{ include("@bundles/CoreBundle/Assets/js/libraries/filemanager/assets_js.html.twig") }}
{% endif %}
<script type="text/javascript" charset="utf-8">
    $().ready(function() {
        var $f = $('.elfinder').elfinder({
            url : '{{path('ef_connect', { 'instance': instance, 'homeFolder': homeFolder } )}}',
            lang : '{{locale}}',
            onlyMimes: {{ onlyMimes|raw }}
    });

        {% if fullscreen %}
        var $window = $(window);
        $window.resize(function(){
            var $win_height = $window.height();
            if( $f.height() != $win_height ){
                $f.height($win_height).resize();
            }
        });
        $window.resize();
        {% endif %}
    });
</script>
<div class="elfinder"></div>
</body>
</html>
