<!DOCTYPE html>
<html>
<head>
    <link href="{{ asset("#{prefix}/../../app/bundles/CoreBundle/Assets/js/libraries/filemanager/jquery-ui/themes/#{theme}/jquery-ui.min.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("#{prefix}/../../app/bundles/CoreBundle/Assets/js/libraries/filemanager/elfinder/dist/css/elfinder.min.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("#{prefix}/../../app/bundles/CoreBundle/Assets/js/libraries/filemanager/elfinder/dist/css/theme.css") }}" rel="stylesheet" type="text/css">
</head>
<body>
    <script src="{{ asset("#{prefix}/../../app/bundles/CoreBundle/Assets/js/libraries/2.jquery.js") }}"></script>
    <script src="{{ asset("#{prefix}/../../app/bundles/CoreBundle/Assets/js/libraries/filemanager/jquery-ui/jquery-ui.min.js") }}"></script>
    <script src="{{ asset("#{prefix}/../../app/bundles/CoreBundle/Assets/js/libraries/filemanager/elfinder/dist/js/elfinder.min.js") }}"></script>
    <script src="{{ asset("#{prefix}/../../app/bundles/CoreBundle/Assets/js/libraries/filemanager/elfinder/dist/js/i18n/elfinder.#{locale}.js") }}"></script>
<script type="text/javascript" charset="utf-8">
    var editorType = '';
    var editor = null;

    jQuery().ready(function() {
        var $f = jQuery('.elfinder').elfinder({
            url : '{{path('ef_connect', { 'instance': instance, 'homeFolder': homeFolder } )}}',
            lang : '{{locale}}',
            onlyMimes: {{ onlyMimes|raw }},
            getFileCallback : function(file, fm) {
                let fileUrl = file.url;
                if (file.baseUrl == '' && typeof window.opener.mauticImagesPath !== 'undefined') {
                    fileUrl = window.opener.mauticImagesPath+'/'+file.name;
                }

                const editorParam = new RegExp('(?:[\?&]|&amp;)editor=([^&]+)', 'i');
                const editorMatch = window.location.search.match(editorParam);
                if (editorMatch && editorMatch.length > 1 && editorMatch[1] == 'ckeditor') {
                    window.opener.CKEDITOR.tools.callFunction((function () {
                        const reParam = new RegExp('(?:[\?&]|&amp;)CKEditorFuncNum=([^&]+)', 'i');
                        const match = window.location.search.match(reParam);
                        return (match && match.length > 1) ? match[1] : '';
                    })(), fm.convAbsUrl(fileUrl));
                    fm.destroy();
                } else {
                    window.opener.document.fileManagerInsertImageCallback('textarea.editor', fileUrl);
                }

                window.close();
            }
        });

        {% if fullscreen %}
        var $window = jQuery(window);
        $window.resize(function(){
            var $win_height = $window.height();
            if( $f.height() != $win_height ){
                $f.height($win_height).resize();
            }
        });
        $window.resize();
        {% endif %}
    });
</script>
<div class="elfinder"></div>
</body>
</html>
