{% set isIndex = tmpl == 'index' ? true : false %}
{% set tmpl = 'list' %}

{% extends isIndex ? '@MauticCore/Default/content.html.twig' : '@MauticCore/Default/raw_output.html.twig' %}
{% block mauticContent %}Package{% endblock %}
{% block headerTitle %}{{ 'marketplace.title'|trans|purify }}{% endblock %}
{% block actions %}
    {{- include('@MauticCore/Helper/page_actions.html.twig', {
    'customButtons' : {
        0: {
            'attr' : {
                'class'       : 'btn btn-default btn-nospin',
                'data-toggle' : 'ajax',
                'href'        : path(constant('Mautic\\MarketplaceBundle\\Service\\RouteProvider::ROUTE_CLEAR_CACHE')),
            },
            'iconClass' : 'fa fa-trash',
            'btnText'   : 'marketplace.clear.cache',
            'tooltip'   : 'marketplace.clear.cache.tooltip',
        },
    },
    }) -}}
{% endblock %}

{% block content %}
    {% if isIndex %}
        {% if isComposerEnabled %}
            <div class="alert alert-info" role="alert">
                {% trans %}marketplace.beta.warning{% endtrans %}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                {% trans %}marketplace.composer.required{% endtrans %}
            </div>
            <div class="column-wrapper-m content-widget" style="margin-bottom: 40px;">
            <div class="card card-gradient">
                <div>
                    <h3>{% trans %}marketplace.card.help{% endtrans %}</h3>
                    <div>{% trans %}marketplace.card.help.description{% endtrans %}</div>
                </div>
                <div class="link-group">
                    <a class="link" href="https://docs.mautic.org/en/plugins" aria-label="{% trans %}marketplace.card.help.read{% endtrans %}" tabindex="0">
                        <span>{% trans %}marketplace.card.help.read{% endtrans %}</span>
                    </a>
                    <a class="link" href="https://community.mautic.org/" aria-label="{% trans %}marketplace.card.help.community{% endtrans %}" tabindex="0">
                        <span>{% trans %}marketplace.card.help.community{% endtrans %}</span>
                    </a>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3>{% trans %}marketplace.card.developer{% endtrans %}</h3>
                    <div>{% trans %}marketplace.card.developer.description{% endtrans %}</div>
                </div>
                <div class="link-group">
                    <a class="link" href="https://developer.mautic.org/#plugins" aria-label="{% trans %}marketplace.card.developer.docs{% endtrans %}" tabindex="0">
                        <span>{% trans %}marketplace.card.developer.docs{% endtrans %}</span>
                    </a>
                </div>
        </div>
</div>
        {% endif %}
        <div role="separator" class="divider-xl"></div>
        <div class="panel panel-default bdr-t-wdh-0 mb-0" id="search-bar">
            {{- include('@MauticCore/Helper/list_toolbar.html.twig', {
                'searchValue' : searchValue,
                'action'      : currentRoute,
            }) -}}
        </div>
            <div class="page-list">
                {{ block('listResults') }}
            </div>
        </div>
    {% else %}
        {{ block('listResults') }}
    {% endif %}
{% endblock %}

{% block listResults %}
{% if items|length %}
            <div class="column-wrapper-m flex-wrap">
            {% for item in items %}
            <div class="marketplace-card-container">
                <div class="card-content">
                    <h3><a data-toggle="ajax" href="{{ path(
                            constant('Mautic\\MarketplaceBundle\\Service\\RouteProvider::ROUTE_DETAIL'),
                            {
                                'vendor'  : item.getVendorName()|escape,
                                'package' : item.getPackageName()|escape,
                            }
                        ) }}">
                        {{ item.getHumanPackageName()|escape }}
                        </a></h3>
                    {% if item.description %}
                    <div class="card-description">{{ item.description|purify }}</div>
                    {% endif %}
                </div>
                <div class="card-author">
                    <div class="column-wrapper-xs center">
                        <i class="ri-account-circle-fill card-author-icon"></i>
                        <div class="card-author-name">{{ item.getVendorName()|escape }}</div>
                    </div>
                    <div class="card-stats">
                        <div class="card-stat">
                            <i class="ri-download-line"></i>
                            <div class="card-stat-value">{{ item.downloads|escape }}</div>
                        </div>
                        <div class="card-stat">
                            <i class="ri-star-s-line"></i>
                            <div class="card-stat-value">{{ item.favers|escape }}</div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-tertiary" data-toggle="ajax" href="{{ path(
                    constant('Mautic\\MarketplaceBundle\\Service\\RouteProvider::ROUTE_DETAIL'),
                    {
                        'vendor'  : item.getVendorName()|escape,
                        'package' : item.getPackageName()|escape,
                    }
                ) }}">{% trans %}marketplace.card.more{% endtrans %}
                    <div class="card-action-icon">
                        <i class="ri-arrow-right-line"></i>
                    </div>
                </a>
            </div>
            {% endfor %}
    </div>
    <div class="panel-footer">
        <div class="panel">
            {{- include(
            '@MauticCore/Helper/pagination.html.twig',
            {
                'totalItems' : count,
                'page'       : page,
                'limit'      : limit,
                'baseUrl'    : path(constant('Mautic\\MarketplaceBundle\\Service\\RouteProvider::ROUTE_LIST')),
                'sessionVar' : 'marketplace.package',
                'routeBase'  : constant('Mautic\\MarketplaceBundle\\Service\\RouteProvider::ROUTE_LIST'),
            }
        ) -}}
        </div>


    </div>

    {% else %}
        {{- include('@MauticCore/Helper/noresults.html.twig', {'message' : 'marketplace.noresults.tip'}) -}}
    {% endif %}
{% endblock %}