<div class="row">
    <div class="col-md-12">
        {{ form_start(form) }}
            <div class="form-group pb-lg{{ form.review.vars.errors|length ? ' has-error' : '' }}">
                <label class="control-label mb-xs">{{ form_label(form.review) }}</label>
                {{ form_widget(form.review, {'attr' : {'placeholder' : form.review.vars.label }}) }}
                {{ form_errors(form.review) }}
            </div>
            <div class="form-group pb-lg{{ form.rating.vars.errors|length ? ' has-error' : '' }}">
                <label class="control-label mb-xs">{{ form_label(form.rating) }}</label>
                {{ form_widget(form.rating, {'attr' : {'placeholder' : form.rating.vars.label }}) }}
                {{ form_errors(form.rating) }}
            </div>
        {{ form_end(form) }}
    </div>
</div>
